chapter_04_AI_Agents_n8n/n8n_AIAgent/AI_3X_05_Social_media_AI agent.json
{
  "name": "AI_3X_05_Social_media_AI agent.",
  "nodes": [
    {
      "parameters": {
        "content": "## Objective\n1. Find some Good ideas related to AI concepts, QA, MCP, RAG, LLM, AI AGENTS, n8n, LangFlow, Crew AI, DeepEval, LangChain, AI harness, LLM Eval, ...\n\n2. Create the Title, LinkedIn, Medium, IG, YT Scripts.\n\n3. Title, -> Generate Content for all\n\n4. Schedule and POST\n\n5. Draft (No Publish), Verify in Human Way - Email Me in the Draft is created",
        "height": 384,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -752,
        -448
      ],
      "typeVersion": 1,
      "id": "d7b1be4b-a196-4304-80b0-1b4a78771985",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "55534925-71fa-4d41-bb7e-8d52ea7272e3",
      "name": "Daily at 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate one interesting and specific content topic related to these keywords: QA, MCP, RAG, LLM, AI Agents, n8n, LangFlow, Crew AI, DeepEval, LangChain, AI Harness, LLM Eval. Return ONLY the topic title as a single line of text, no additional formatting or explanation.",
        "options": {
          "systemMessage": "You are a content strategist specializing in AI and developer tools. Generate specific, actionable topics that would make great technical content."
        }
      },
      "id": "a9c3b3e6-8a64-40cf-8be6-4f83f33b84c1",
      "name": "Agent 1 - Topic Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "date",
              "name": "Date",
              "value": "={{ $now.toFormat(\"yyyy-MM-dd\") }}",
              "type": "string"
            },
            {
              "id": "topic",
              "name": "Topic",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ac7e0ed6-23fd-4595-a36d-41e75e2bdaa2",
      "name": "Prepare Today Date",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        304
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1HuJPqePZB4xy84r3ZIAc0iYmMz8OZCvPpEdRTWLrxm8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.Date }}",
            "Topic": "={{ $json.Topic }}",
            "LinkedIn POST": "",
            "Medium Article": "",
            "IG Script": "",
            "YT Script": "",
            "Dev.to(2000 Words Article)": "",
            "Status": "Pending"
          },
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn POST",
              "displayName": "LinkedIn POST",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Medium Article",
              "displayName": "Medium Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "IG Script",
              "displayName": "IG Script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "YT Script",
              "displayName": "YT Script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Dev.to(2000 Words Article)",
              "displayName": "Dev.to(2000 Words Article)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "92370a71-f92f-4109-a7f4-ee07a3973d72",
      "name": "Write Topic to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZU1Fv8HgOGAyQ1x",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1HuJPqePZB4xy84r3ZIAc0iYmMz8OZCvPpEdRTWLrxm8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Date",
              "lookupValue": "={{ $now.toFormat(\"yyyy-MM-dd\") }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1d12d30e-767e-4326-bf6e-623b72f3e202",
      "name": "Read Today Topic",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZU1Fv8HgOGAyQ1x",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate comprehensive content for the topic: {{ $json.Topic }}\n\nCreate the following pieces of content:\n1. LinkedIn Post (300-500 words, professional tone, include hashtags)\n2. Medium Article (3000 words, in-depth technical article with sections, code examples, and best practices)\n3. Instagram Script (150 words, casual and engaging, hook-focused)\n4. YouTube Script (800-1000 words, conversational tone, include intro/outro)\n5. Dev.to Article (2000 words, developer-focused, practical examples)\n\nFormat your response as JSON with these exact keys: linkedinPost, mediumArticle, igScript, ytScript, devtoArticle",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert technical content writer specializing in AI, developer tools, and software engineering. Create engaging, accurate, and well-structured content for different platforms."
        }
      },
      "id": "227ded66-cd33-42d0-8345-54d85726d607",
      "name": "Agent 2 - Content Writer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1488,
        304
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"linkedinPost\":\"LinkedIn post content here\",\"mediumArticle\":\"Medium article content here\",\"igScript\":\"Instagram script here\",\"ytScript\":\"YouTube script here\",\"devtoArticle\":\"Dev.to article content here\"}"
      },
      "id": "6e8c9208-c60d-4258-a31d-0db28876acf5",
      "name": "Content Structure Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1632,
        528
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "models/imagen-3.0-generate-001"
        },
        "prompt": "=Create a professional tech blog cover image for the topic: {{ $(\"Read Today Topic\").item.json.Topic }}. Style: modern, clean, tech-focused, with abstract AI/data visualization elements.",
        "options": {
          "sampleCount": 3,
          "binaryPropertyOutput": "images"
        }
      },
      "id": "fe40211d-4187-4e09-974c-4abe18d53df1",
      "name": "Agent 3 - Image Generator",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        1840,
        304
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "DLF5QbbMfUK1q5xH",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "date",
              "name": "Date",
              "value": "={{ $(\"Read Today Topic\").item.json.Date }}",
              "type": "string"
            },
            {
              "id": "linkedinPost",
              "name": "LinkedIn POST",
              "value": "={{ $(\"Agent 2 - Content Writer\").item.json.output.linkedinPost }}",
              "type": "string"
            },
            {
              "id": "mediumArticle",
              "name": "Medium Article",
              "value": "={{ $(\"Agent 2 - Content Writer\").item.json.output.mediumArticle }}",
              "type": "string"
            },
            {
              "id": "igScript",
              "name": "IG Script",
              "value": "={{ $(\"Agent 2 - Content Writer\").item.json.output.igScript }}",
              "type": "string"
            },
            {
              "id": "ytScript",
              "name": "YT Script",
              "value": "={{ $(\"Agent 2 - Content Writer\").item.json.output.ytScript }}",
              "type": "string"
            },
            {
              "id": "devtoArticle",
              "name": "Dev.to(2000 Words Article)",
              "value": "={{ $(\"Agent 2 - Content Writer\").item.json.output.devtoArticle }}",
              "type": "string"
            },
            {
              "id": "imageLink",
              "name": "Image Link",
              "value": "={{ $(\"Prepare Image Link\").item.json[\"Image Link\"] }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "Status",
              "value": "Generated",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "036da9a1-7ff6-4587-b56d-b8ebe8b848fb",
      "name": "Format Content for Update",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2736,
        304
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1HuJPqePZB4xy84r3ZIAc0iYmMz8OZCvPpEdRTWLrxm8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LinkedIn POST": "={{ $json[\"LinkedIn POST\"] }}",
            "Medium Article": "={{ $json[\"Medium Article\"] }}",
            "IG Script": "={{ $json[\"IG Script\"] }}",
            "YT Script": "={{ $json[\"YT Script\"] }}",
            "Dev.to(2000 Words Article)": "={{ $json[\"Dev.to(2000 Words Article)\"] }}",
            "Image Link": "={{ $json[\"Image Link\"] }}",
            "Status": "={{ $json.Status }}"
          },
          "schema": [
            {
              "id": "LinkedIn POST",
              "displayName": "LinkedIn POST",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Medium Article",
              "displayName": "Medium Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "IG Script",
              "displayName": "IG Script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "YT Script",
              "displayName": "YT Script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Dev.to(2000 Words Article)",
              "displayName": "Dev.to(2000 Words Article)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Image Link",
              "displayName": "Image Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "matchingColumns": [
            "Date"
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "64c80e83-2266-418b-8261-cdefefd3fb45",
      "name": "Agent 4 - Sheet Updater",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2960,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iZU1Fv8HgOGAyQ1x",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1504,
        528
      ],
      "id": "3ea4cceb-bba1-4ad6-b161-ab337f65bf7a",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "YWHDwkGa1ChnOhI7",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        544,
        528
      ],
      "id": "962b32da-5d0e-4347-805b-ccc2fd0ea84f",
      "name": "DeepSeek Chat Model1",
      "credentials": {
        "deepSeekApi": {
          "id": "YWHDwkGa1ChnOhI7",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "images",
        "name": "={{ $(\"Read Today Topic\").item.json.Topic.substring(0, 50) }}_cover_image.png",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {
          "simplifyOutput": true
        }
      },
      "id": "bf25b950-89ff-41a3-8807-25d767e5d681",
      "name": "Upload Images to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2064,
        304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iZU1Fv8HgOGAyQ1x",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone",
            "allowFileDiscovery": true
          }
        },
        "options": {
          "sendNotificationEmail": false
        }
      },
      "id": "5b410742-c6c6-49c7-bff5-98868f8e8e84",
      "name": "Share Image File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2288,
        304
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iZU1Fv8HgOGAyQ1x",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "imageLink",
              "name": "Image Link",
              "value": "={{ $(\"Upload Images to Drive\").item.json.webContentLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "caee5899-6814-4ffc-adf8-2294ecdd523e",
      "name": "Prepare Image Link",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2512,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.5",
          "mode": "list",
          "cachedResultName": "gpt-5.5"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1344,
        512
      ],
      "id": "6cb33290-a145-4032-b4f8-069e330266bd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "I0FkWZMRfXKMj8Hg",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {
    "Agent 2 - Content Writer": [
      {
        "json": {
          "output": {
            "linkedinPost": "LLM quality is no longer just about “does the model answer?” It’s about whether the answer is grounded, safe, task-relevant, tool-aware, and repeatable across real workflows.\n\nThat’s why I’ve been thinking about LLM evaluation as an integration problem—not only a metrics problem.\n\nA modern QA stack for AI agents often combines:\n\n• DeepEval for automated LLM evaluation: answer relevancy, faithfulness, hallucination detection, contextual precision/recall, bias, toxicity, and custom metrics.\n• LangChain for building RAG pipelines, agents, retrievers, tools, and traces.\n• n8n for workflow automation: routing eval failures, triggering regression suites, notifying Slack/Jira, and integrating business systems.\n• LangFlow for visual prototyping of LangChain graphs and RAG chains before production hardening.\n• CrewAI for multi-agent collaboration where planner, researcher, critic, and executor agents can be evaluated independently and as a team.\n• MCP workflows for standardized access to tools, files, databases, APIs, and context providers.\n• An AI harness layer to run test cases, manage datasets, compare models, track regressions, and enforce release gates.\n\nThe key insight: evaluation must be embedded at every layer.\n\nFor RAG, evaluate retrieval quality separately from generation quality. A bad answer may come from poor chunking, weak embeddings, irrelevant context, or a model ignoring correct context. DeepEval helps isolate these failure modes.\n\nFor agents, evaluate more than final responses. Test tool selection, step correctness, instruction adherence, memory usage, and recovery behavior. CrewAI and LangChain traces make those intermediate steps visible.\n\nFor workflow platforms, compare integration styles:\n\nn8n is excellent for operational automation and business process orchestration.\nLangFlow is ideal for fast visual experimentation and stakeholder-friendly prototyping.\nCrewAI shines when the task benefits from role-based multi-agent reasoning.\n\nThe best architecture is usually not “pick one.” It’s: prototype in LangFlow, orchestrate production events in n8n, run complex agent collaboration with CrewAI, build core chains in LangChain, and continuously evaluate everything with DeepEval inside an AI harness.\n\nLLM apps need CI/CD—but with semantic tests, retrieval tests, agent tests, and workflow tests.\n\nIf your AI system cannot be evaluated continuously, it cannot be improved confidently.\n\n#AI #LLM #LangChain #DeepEval #RAG #AIAgents #n8n #LangFlow #CrewAI #MCP #MachineLearning #DeveloperTools #MLOps #LLMOps #QualityAssurance",
            "mediumArticle": "# Optimizing LLM Evaluation with DeepEval and LangChain: A Comparative Analysis of AI Agent Integration Using n8n, LangFlow, and CrewAI for Enhanced QA and MCP Workflows with RAG and AI Harness\n\n## Introduction\n\nLarge language model applications have moved from demos to business-critical systems. Teams are no longer simply asking whether an LLM can produce a plausible answer. They are asking whether the answer is faithful to retrieved evidence, whether the agent used the correct tool, whether the workflow can be audited, whether regressions are caught before deployment, and whether the system behaves consistently when connected to real business processes.\n\nThis is where LLM evaluation becomes a platform concern. A robust evaluation strategy must cover retrieval, generation, agent behavior, workflow orchestration, tool usage, memory, safety, and deployment gates. DeepEval and LangChain form a strong foundation for this. DeepEval provides evaluation metrics and test execution for LLM systems. LangChain provides composable abstractions for chains, retrievers, tools, agents, and observability.\n\nBut modern AI systems rarely live in one framework. Many teams use n8n to automate operational workflows, LangFlow to prototype visual LangChain pipelines, CrewAI to build role-based multi-agent systems, and MCP, the Model Context Protocol, to standardize access to external tools and context. When combined with a dedicated AI harness, these technologies can create a continuous quality layer for RAG and agentic applications.\n\nThis article compares how n8n, LangFlow, and CrewAI fit into an evaluation-first architecture using DeepEval and LangChain. We will cover reference architecture, code examples, QA workflows, RAG evaluation, MCP integration patterns, and best practices for production readiness.\n\n---\n\n## Why LLM Evaluation Requires More Than Unit Tests\n\nTraditional software testing verifies deterministic behavior: given input X, function Y returns output Z. LLM applications are probabilistic. The same prompt may produce different responses. A model upgrade may improve fluency while harming factuality. A retrieval index refresh may silently degrade context quality. An agent may produce the correct final answer while using the wrong tool or leaking sensitive data along the way.\n\nA meaningful evaluation strategy needs multiple dimensions:\n\n1. **Correctness**: Does the output answer the question?\n2. **Faithfulness**: Is the output grounded in supplied context?\n3. **Relevancy**: Is the answer focused on the user request?\n4. **Retrieval quality**: Did the retriever return useful documents?\n5. **Tool correctness**: Did the agent call the right tool with valid arguments?\n6. **Workflow reliability**: Did the automation route, retry, and escalate correctly?\n7. **Safety**: Did the system avoid toxic, biased, or policy-violating content?\n8. **Regression resistance**: Did a prompt, model, embedding, or chunking change break existing behavior?\n\nDeepEval helps formalize these dimensions as repeatable tests. LangChain helps expose the components being tested.\n\n---\n\n## Core Stack Overview\n\n### DeepEval\n\nDeepEval is an open-source evaluation framework for LLM applications. It supports metrics such as answer relevancy, faithfulness, hallucination, contextual precision, contextual recall, summarization quality, toxicity, bias, and custom G-Eval style criteria. It can be used similarly to Pytest, which makes it easy to integrate into CI/CD.\n\n### LangChain\n\nLangChain provides building blocks for LLM workflows: prompts, chains, retrievers, vector stores, tools, agents, output parsers, and callbacks. It is especially useful for RAG and tool-using applications.\n\n### n8n\n\nn8n is a workflow automation platform. It connects APIs, databases, messaging tools, CRMs, ticketing systems, and custom scripts. In LLM QA, n8n is useful for triggering eval suites, routing failures, creating tickets, sending Slack alerts, and coordinating human review.\n\n### LangFlow\n\nLangFlow is a visual builder for LangChain applications. It is excellent for prototyping RAG pipelines, prompt chains, and agent flows. It helps technical and non-technical stakeholders inspect how components connect.\n\n### CrewAI\n\nCrewAI is a framework for role-based multi-agent systems. It lets you define agents with goals, roles, tools, and tasks. CrewAI is useful when a workflow benefits from collaboration between specialized agents, such as researcher, analyst, reviewer, and executor.\n\n### MCP\n\nMCP, or Model Context Protocol, standardizes how models and agents connect to external tools, resources, and context providers. Instead of hardcoding every integration, an MCP server can expose capabilities such as file access, database queries, documentation search, or ticket creation.\n\n### AI Harness\n\nAn AI harness is the test runner and control plane around your LLM system. It manages datasets, prompts, eval metrics, traces, model comparisons, thresholds, release gates, and reports. DeepEval can serve as the evaluation engine inside this harness.\n\n---\n\n## Reference Architecture\n\nA practical architecture looks like this:\n\n1. User or test input enters an API, app, or workflow.\n2. LangChain handles retrieval, prompt assembly, model invocation, and tool binding.\n3. MCP servers expose standardized tools and context sources.\n4. CrewAI coordinates multi-agent tasks when role-based collaboration is needed.\n5. LangFlow is used for rapid prototyping and visual inspection of chains.\n6. n8n orchestrates external workflow events, notifications, approvals, and scheduled regression runs.\n7. DeepEval evaluates outputs, retrieval context, and agent behavior.\n8. The AI harness stores test cases, results, traces, thresholds, and deployment decisions.\n\nThe principle is simple: every critical workflow should produce evaluable artifacts. For RAG, capture query, retrieved contexts, expected answer, actual answer, and source metadata. For agents, capture plan, tool calls, arguments, observations, final answer, and errors. For workflow automation, capture triggers, branches, retries, approvals, and outputs.\n\n---\n\n## Building a RAG Chain with LangChain\n\nBelow is a simplified example of a LangChain RAG pipeline.\n\n```python\nfrom langchain_openai import ChatOpenAI, OpenAIEmbeddings\nfrom langchain_community.vectorstores import Chroma\nfrom langchain_core.prompts import ChatPromptTemplate\nfrom langchain_core.runnables import RunnablePassthrough\nfrom langchain_core.output_parsers import StrOutputParser\n\nembeddings = OpenAIEmbeddings(model=\"text-embedding-3-small\")\nvectorstore = Chroma(\n    collection_name=\"docs\",\n    embedding_function=embeddings,\n    persist_directory=\"./chroma_db\"\n)\nretriever = vectorstore.as_retriever(search_kwargs={\"k\": 4})\n\nprompt = ChatPromptTemplate.from_template(\"\"\"\nYou are a support QA assistant. Answer using only the context.\nIf the answer is not in the context, say you do not know.\n\nQuestion: {question}\nContext: {context}\n\"\"\")\n\nllm = ChatOpenAI(model=\"gpt-4o-mini\", temperature=0)\n\ndef format_docs(docs):\n    return \"\\n\\n\".join(doc.page_content for doc in docs)\n\nrag_chain = (\n    {\"context\": retriever | format_docs, \"question\": RunnablePassthrough()}\n    | prompt\n    | llm\n    | StrOutputParser()\n)\n\nanswer = rag_chain.invoke(\"How do I rotate an API key?\")\nprint(answer)\n```\n\nThis chain is useful, but production teams need to know whether it is good. That requires evaluation.\n\n---\n\n## Evaluating RAG with DeepEval\n\nDeepEval can evaluate whether the generated answer is relevant and grounded in context.\n\n```python\nfrom deepeval import assert_test\nfrom deepeval.test_case import LLMTestCase\nfrom deepeval.metrics import AnswerRelevancyMetric, FaithfulnessMetric, ContextualRecallMetric\n\nquestion = \"How do I rotate an API key?\"\nretrieved_docs = retriever.invoke(question)\ncontext = [doc.page_content for doc in retrieved_docs]\nactual_output = rag_chain.invoke(question)\nexpected_output = \"Go to Settings, open API Keys, create a new key, update clients, then revoke the old key.\"\n\ntest_case = LLMTestCase(\n    input=question,\n    actual_output=actual_output,\n    expected_output=expected_output,\n    retrieval_context=context\n)\n\nmetrics = [\n    AnswerRelevancyMetric(threshold=0.8),\n    FaithfulnessMetric(threshold=0.8),\n    ContextualRecallMetric(threshold=0.7)\n]\n\nfor metric in metrics:\n    metric.measure(test_case)\n    print(metric.__class__.__name__, metric.score, metric.reason)\n    assert metric.score >= metric.threshold\n```\n\nThe important idea is to separate retrieval failure from generation failure. If contextual recall is low, your retriever did not find the right information. If faithfulness is low, the model hallucinated or ignored the retrieved context. If answer relevancy is low, prompt design or model choice may be the issue.\n\n---\n\n## Adding an AI Harness\n\nAn AI harness wraps these tests into a repeatable execution environment. It should support:\n\n- Test dataset versioning\n- Prompt versioning\n- Model and embedding comparison\n- Eval thresholds\n- Regression reports\n- Trace storage\n- CI/CD integration\n- Human review queues\n\nA simple harness can be built with Pytest and DeepEval.\n\n```python\n# tests/test_rag_eval.py\nimport pytest\nfrom deepeval.test_case import LLMTestCase\nfrom deepeval.metrics import FaithfulnessMetric, AnswerRelevancyMetric\n\nDATASET = [\n    {\n        \"question\": \"How do I rotate an API key?\",\n        \"expected\": \"Create a new key, update clients, revoke the old key.\"\n    },\n    {\n        \"question\": \"Can I export audit logs?\",\n        \"expected\": \"Yes, audit logs can be exported from the admin console.\"\n    }\n]\n\n@pytest.mark.parametrize(\"case\", DATASET)\ndef test_rag_quality(case):\n    docs = retriever.invoke(case[\"question\"])\n    output = rag_chain.invoke(case[\"question\"])\n    test_case = LLMTestCase(\n        input=case[\"question\"],\n        actual_output=output,\n        expected_output=case[\"expected\"],\n        retrieval_context=[d.page_content for d in docs]\n    )\n    for metric in [FaithfulnessMetric(threshold=0.8), AnswerRelevancyMetric(threshold=0.8)]:\n        metric.measure(test_case)\n        assert metric.score >= metric.threshold, metric.reason\n```\n\nIn CI, this becomes a semantic release gate. A deployment should fail if critical QA cases fall below threshold.\n\n---\n\n## Comparing n8n, LangFlow, and CrewAI\n\n### n8n: Best for Operational Workflow Automation\n\nn8n is strongest when LLM evaluation needs to interact with business systems. For example, a nightly regression run can call a test endpoint, parse DeepEval results, create Jira tickets for failures, notify Slack, and route severe regressions to human QA.\n\nA typical n8n QA workflow:\n\n1. Cron trigger starts nightly test run.\n2. HTTP Request node calls `/run-evals` on the AI harness.\n3. Function node parses failing metrics.\n4. IF node branches by severity.\n5. Jira node creates issues.\n6. Slack node posts a summary.\n7. Database node stores trend data.\n\nn8n is not where you usually build the core LLM chain. It is where you operationalize evaluation outcomes.\n\n### LangFlow: Best for Visual Prototyping\n\nLangFlow helps teams prototype chains visually. Product managers, QA engineers, and developers can inspect the flow: input, retriever, prompt, model, parser, output. This is helpful when tuning RAG pipelines.\n\nLangFlow is ideal for:\n\n- Comparing chunking strategies\n- Testing prompt templates\n- Swapping vector stores\n- Demonstrating chain logic\n- Exporting LangChain-compatible code\n\nHowever, production evaluation should still be automated outside the canvas. Use LangFlow to discover good designs, then move stable flows into version-controlled code and DeepEval tests.\n\n### CrewAI: Best for Multi-Agent Collaboration\n\nCrewAI is valuable when a problem requires multiple specialized roles. For example, a QA workflow may include:\n\n- Researcher agent: retrieves relevant documentation\n- Tester agent: generates test cases\n- Critic agent: evaluates edge cases\n- Executor agent: runs tests or tool calls\n- Reporter agent: summarizes findings\n\nCrewAI introduces new evaluation needs. You must evaluate the final output and the collaboration process. Did the researcher retrieve valid sources? Did the critic identify real risks? Did the executor use approved tools? Did the reporter preserve important details?\n\n---\n\n## Evaluating CrewAI Agents\n\nA simplified CrewAI pattern:\n\n```python\nfrom crewai import Agent, Task, Crew\n\nresearcher = Agent(\n    role=\"Documentation Researcher\",\n    goal=\"Find accurate context for support questions\",\n    backstory=\"Expert at searching internal docs\",\n    tools=[docs_search_tool]\n)\n\ncritic = Agent(\n    role=\"QA Critic\",\n    goal=\"Identify hallucinations and missing evidence\",\n    backstory=\"Strict evaluator of grounded answers\"\n)\n\nanswer_task = Task(\n    description=\"Answer: How do I rotate an API key? Use retrieved documentation.\",\n    expected_output=\"A grounded answer with source references.\",\n    agent=researcher\n)\n\nreview_task = Task(\n    description=\"Review the answer for hallucinations and missing steps.\",\n    expected_output=\"A QA review with pass/fail and reasons.\",\n    agent=critic\n)\n\ncrew = Crew(agents=[researcher, critic], tasks=[answer_task, review_task])\nresult = crew.kickoff()\n```\n\nDeepEval can evaluate the final result, while trace-level checks can validate intermediate behavior. A custom metric may assert that the final answer includes citations and that no unapproved tool was used.\n\n```python\nfrom deepeval.metrics import GEval\nfrom deepeval.test_case import LLMTestCaseParams, LLMTestCase\n\nagent_process_metric = GEval(\n    name=\"Agent Process Quality\",\n    criteria=\"The agent should use relevant context, avoid unsupported claims, and produce a clear QA decision.\",\n    evaluation_params=[LLMTestCaseParams.INPUT, LLMTestCaseParams.ACTUAL_OUTPUT],\n    threshold=0.8\n)\n\ntest_case = LLMTestCase(\n    input=\"Evaluate the API key rotation answer\",\n    actual_output=str(result)\n)\n\nagent_process_metric.measure(test_case)\nprint(agent_process_metric.score, agent_process_metric.reason)\n```\n\n---\n\n## MCP Workflows and Tool Evaluation\n\nMCP provides a cleaner boundary between agents and tools. An MCP server might expose tools such as:\n\n- `search_docs(query)`\n- `query_database(sql)`\n- `create_ticket(title, body)`\n- `read_file(path)`\n- `run_test_suite(name)`\n\nThis standardization improves evaluation because tool interactions become structured. Instead of evaluating only natural language, you can evaluate tool calls as events.\n\nFor MCP-enabled workflows, track:\n\n- Tool name\n- Arguments\n- Authorization context\n- Response status\n- Latency\n- Error handling\n- Whether the tool call was necessary\n- Whether the result was used faithfully\n\nExample test assertion:\n\n```python\ndef assert_tool_policy(trace):\n    approved = {\"search_docs\", \"run_test_suite\", \"create_ticket\"}\n    for call in trace.tool_calls:\n        assert call.name in approved\n        assert \"password\" not in str(call.arguments).lower()\n```\n\nWhen used with DeepEval, deterministic policy checks and semantic quality metrics work together.\n\n---\n\n## Best Practices\n\n### 1. Evaluate Retrieval and Generation Separately\n\nDo not only score final answers. Store retrieved documents and evaluate contextual precision, recall, and relevancy. This helps identify whether to improve chunking, embeddings, reranking, prompts, or model selection.\n\n### 2. Use Golden Datasets and Adversarial Sets\n\nMaintain a golden QA set for core workflows. Add adversarial examples for ambiguous questions, missing context, prompt injection, outdated policies, and tool misuse.\n\n### 3. Version Everything\n\nVersion prompts, datasets, models, embeddings, chunking parameters, retriever settings, and tool schemas. Without versioning, evaluation results are hard to interpret.\n\n### 4. Combine Automated and Human Review\n\nAutomated metrics are powerful but not perfect. Use n8n to route low-confidence or high-impact failures to human reviewers.\n\n### 5. Evaluate Agents at Multiple Levels\n\nFor agentic systems, evaluate the final answer, tool calls, reasoning trace summaries, task completion, safety, and recovery from tool errors.\n\n### 6. Use Thresholds by Risk Level\n\nA customer support bot may tolerate lower stylistic scores but require high faithfulness. A compliance assistant may require strict citation and refusal behavior. Set thresholds based on business risk.\n\n### 7. Make Evaluation Part of CI/CD\n\nRun fast smoke evals on pull requests, larger regression suites nightly, and full benchmark suites before major releases.\n\n---\n\n## Recommended Integration Pattern\n\nA practical team workflow is:\n\n1. Prototype the RAG or agent flow in LangFlow.\n2. Export or reimplement stable logic in LangChain code.\n3. Add DeepEval tests around retrieval and generation.\n4. Use CrewAI only when the task benefits from multiple specialized agents.\n5. Expose tools through MCP servers for standardized integration.\n6. Wrap the system in an AI harness with datasets and thresholds.\n7. Use n8n to schedule evaluations, notify stakeholders, and create remediation tasks.\n\nThis pattern keeps experimentation fast while ensuring production quality.\n\n---\n\n## Conclusion\n\nLLM evaluation is becoming the backbone of reliable AI engineering. DeepEval provides the metrics and test execution needed to measure semantic quality. LangChain provides the composable application layer. n8n operationalizes evaluation workflows. LangFlow accelerates prototyping. CrewAI enables role-based multi-agent collaboration. MCP standardizes tool and context access. An AI harness connects everything into a repeatable QA system.\n\nThe strongest teams will not treat evaluation as a final checklist. They will design AI systems so every response, retrieval result, tool call, and workflow branch can be evaluated continuously.\n\nIn short: build with LangChain, evaluate with DeepEval, prototype with LangFlow, orchestrate with n8n, collaborate with CrewAI, standardize tools with MCP, and govern everything through an AI harness.",
            "igScript": "Stop shipping LLM apps based on vibes.\n\nIf your AI assistant sounds smart but can’t prove where its answer came from, you don’t have a product—you have a demo.\n\nHere’s the modern QA stack I’d use:\n\nLangChain to build the RAG pipeline.\nDeepEval to test faithfulness, relevance, hallucinations, and retrieval quality.\nn8n to automate eval runs, Slack alerts, and Jira tickets.\nLangFlow to visually prototype chains before coding them for production.\nCrewAI when you need multiple agents like researcher, critic, and executor.\nMCP to standardize tool access across databases, files, APIs, and internal systems.\nAnd an AI harness to run regression tests before every release.\n\nThe trick? Don’t just evaluate the final answer.\n\nEvaluate retrieved context, tool calls, agent decisions, workflow branches, and safety.\n\nBecause in production, “it worked once” is not enough.\n\nBuild AI you can test, trust, and improve.",
            "ytScript": "Intro:\n\nIf you are building LLM applications, especially RAG systems or AI agents, one question matters more than almost anything else: how do you know the system is actually working?\n\nNot just sounding confident. Not just producing a clean paragraph. Actually working. Grounded in the right context, using the right tools, following the workflow, and not breaking when you change a prompt, model, retriever, or agent configuration.\n\nToday we are breaking down how to optimize LLM evaluation using DeepEval and LangChain, and how that fits with n8n, LangFlow, CrewAI, MCP workflows, RAG, and an AI harness.\n\nLet’s get into it.\n\nSection 1: The problem with LLM QA\n\nTraditional software testing is deterministic. You call a function, pass input, and assert the output. LLM applications are different. A response can be fluent but wrong. A RAG pipeline can retrieve irrelevant documents. An agent can produce the correct answer while using the wrong tool. A workflow can silently skip a human approval step.\n\nSo LLM QA has to test more than the final response. It needs to test retrieval quality, answer faithfulness, relevancy, tool calls, safety, and workflow behavior.\n\nThat is where DeepEval becomes useful. DeepEval lets you define test cases and evaluate LLM outputs using metrics like answer relevancy, faithfulness, contextual recall, hallucination detection, toxicity, bias, and custom criteria.\n\nLangChain, meanwhile, is the application layer. You use it to build chains, agents, retrievers, tools, prompts, and RAG pipelines. Together, LangChain builds the system and DeepEval tests the system.\n\nSection 2: RAG evaluation\n\nLet’s say you have a support assistant. A user asks, “How do I rotate an API key?” Your LangChain RAG pipeline retrieves documentation, injects it into a prompt, and asks the model to answer.\n\nA weak evaluation strategy only checks whether the final answer sounds reasonable. A strong strategy captures the question, retrieved documents, generated answer, expected answer, and source metadata.\n\nThen you evaluate at least three things.\n\nFirst, contextual recall: did the retriever find the information needed to answer?\n\nSecond, faithfulness: did the model stay grounded in the retrieved context?\n\nThird, answer relevancy: did the answer directly respond to the question?\n\nThis separation is critical. If retrieval is bad, you may need better chunking, embeddings, reranking, or metadata filters. If retrieval is good but faithfulness is bad, the model or prompt may be the issue.\n\nSection 3: Where n8n fits\n\nn8n is not usually where I would build the core LLM logic. It is where I would operationalize the QA workflow.\n\nImagine a nightly regression test. n8n starts with a cron trigger. It calls an AI harness endpoint that runs DeepEval tests. If tests fail, n8n parses the results. High-severity failures create Jira tickets. Medium failures post to Slack. Low-severity cases go into a review database.\n\nThis is powerful because it connects AI quality to the systems your team already uses. Evaluation stops being a notebook experiment and becomes part of operations.\n\nSection 4: Where LangFlow fits\n\nLangFlow is great for visual prototyping. If you are experimenting with a RAG pipeline, LangFlow lets you visually connect a loader, splitter, vector store, retriever, prompt, model, and output parser.\n\nThis is especially useful early in development. You can show stakeholders the flow, test prompt variations, compare retrievers, and quickly understand how data moves through the system.\n\nBut once a flow becomes production-critical, I recommend moving the stable version into version-controlled LangChain code and wrapping it with DeepEval tests. LangFlow is excellent for exploration. Code plus tests is better for production governance.\n\nSection 5: Where CrewAI fits\n\nCrewAI is designed for multi-agent collaboration. Instead of one agent doing everything, you define roles. For example, a researcher agent retrieves documents, a tester agent generates QA cases, a critic agent checks for hallucinations, and a reporter agent summarizes the result.\n\nThis can be very effective for complex workflows, but it also creates new evaluation challenges. You need to evaluate not only the final output but also the process.\n\nDid the researcher use reliable sources? Did the critic catch missing evidence? Did the executor call approved tools? Did the reporter preserve important findings?\n\nFor CrewAI, I would combine DeepEval semantic metrics with trace-based checks. Semantic metrics judge output quality. Trace checks verify tools, arguments, and workflow steps.\n\nSection 6: MCP and AI harness\n\nMCP, or Model Context Protocol, helps standardize how agents connect to tools and context. Instead of custom integrations everywhere, an MCP server can expose capabilities like searching docs, querying a database, reading files, creating tickets, or running tests.\n\nThis is great for evaluation because tool calls become structured events. You can validate which tool was called, what arguments were passed, whether the call was authorized, and whether the result was used correctly.\n\nThe AI harness ties everything together. Think of it as the evaluation control plane. It stores test datasets, prompt versions, model versions, traces, thresholds, and reports. It runs DeepEval tests during pull requests, nightly regression jobs, and pre-release checks.\n\nSection 7: Recommended architecture\n\nHere is the integration pattern I recommend.\n\nUse LangFlow for early visual prototyping.\n\nImplement production chains and agents in LangChain.\n\nUse DeepEval to test RAG quality, faithfulness, answer relevancy, safety, and custom business criteria.\n\nUse CrewAI when the task truly benefits from multiple specialized agents.\n\nExpose external tools through MCP where possible.\n\nUse an AI harness to manage datasets, thresholds, reports, and regression history.\n\nUse n8n to automate schedules, alerts, tickets, approvals, and human review loops.\n\nThis gives you a system that is both flexible and testable.\n\nOutro:\n\nThe biggest mistake teams make with LLM applications is treating evaluation as something they do after the app is built. Evaluation should be designed into the architecture from day one.\n\nIf you cannot test retrieval, you cannot trust your RAG system. If you cannot inspect tool calls, you cannot trust your agent. If you cannot run regression tests, you cannot safely ship changes.\n\nSo the mindset is simple: build AI workflows that are observable, evaluable, and repeatable.\n\nIf this was helpful, like the video, subscribe for more practical AI engineering content, and drop a comment with what you are using for LLM evaluation: DeepEval, Ragas, LangSmith, custom tests, or something else.",
            "devtoArticle": "# Optimizing LLM Evaluation with DeepEval, LangChain, n8n, LangFlow, CrewAI, MCP, RAG, and an AI Harness\n\nLLM applications are easy to demo and hard to trust. A chatbot that answers one question correctly in a notebook is not the same as a production system that can survive prompt changes, model upgrades, retriever drift, tool failures, and real user behavior.\n\nThis article shows a practical developer-focused approach to evaluating LLM systems using DeepEval and LangChain, while comparing how n8n, LangFlow, and CrewAI fit into agent integration and QA workflows. We will also discuss MCP workflows, RAG evaluation, and how to wrap everything in an AI harness.\n\n## The Core Idea\n\nDo not evaluate only the final text response. Evaluate the system.\n\nFor a RAG application, evaluate:\n\n- The user question\n- Retrieved documents\n- Context relevance\n- Generated answer\n- Faithfulness to context\n- Expected answer alignment\n- Citation quality\n\nFor an agent, evaluate:\n\n- Tool selection\n- Tool arguments\n- Intermediate observations\n- Final answer\n- Error recovery\n- Policy compliance\n\nFor a workflow, evaluate:\n\n- Trigger behavior\n- Branching logic\n- Retries\n- Notifications\n- Ticket creation\n- Human approval steps\n\nDeepEval is useful because it lets you express semantic quality checks as tests. LangChain is useful because it gives you modular pieces for RAG and agents.\n\n## Installing the Basics\n\n```bash\npip install deepeval langchain langchain-openai langchain-community chromadb pytest\n```\n\nSet your model provider key:\n\n```bash\nexport OPENAI_API_KEY=\"your-key\"\n```\n\n## A Minimal LangChain RAG Pipeline\n\nHere is a basic RAG chain using LangChain and Chroma.\n\n```python\nfrom langchain_openai import ChatOpenAI, OpenAIEmbeddings\nfrom langchain_community.vectorstores import Chroma\nfrom langchain_core.prompts import ChatPromptTemplate\nfrom langchain_core.runnables import RunnablePassthrough\nfrom langchain_core.output_parsers import StrOutputParser\n\nembeddings = OpenAIEmbeddings(model=\"text-embedding-3-small\")\nvectorstore = Chroma(\n    collection_name=\"knowledge_base\",\n    embedding_function=embeddings,\n    persist_directory=\"./chroma\"\n)\n\nretriever = vectorstore.as_retriever(search_kwargs={\"k\": 4})\n\nprompt = ChatPromptTemplate.from_template(\"\"\"\nYou are a precise technical support assistant.\nUse only the provided context.\nIf the answer is not present, say: \"I do not know based on the provided context.\"\n\nQuestion: {question}\n\nContext:\n{context}\n\"\"\")\n\nllm = ChatOpenAI(model=\"gpt-4o-mini\", temperature=0)\n\ndef format_docs(docs):\n    return \"\\n\\n\".join(d.page_content for d in docs)\n\nrag_chain = (\n    {\"context\": retriever | format_docs, \"question\": RunnablePassthrough()}\n    | prompt\n    | llm\n    | StrOutputParser()\n)\n```\n\nNow call it:\n\n```python\nquestion = \"How do I rotate an API key?\"\nanswer = rag_chain.invoke(question)\nprint(answer)\n```\n\nThis works, but how do we know if it works well?\n\n## Evaluating RAG with DeepEval\n\nCreate a test case that includes input, actual output, expected output, and retrieval context.\n\n```python\nfrom deepeval.test_case import LLMTestCase\nfrom deepeval.metrics import AnswerRelevancyMetric, FaithfulnessMetric, ContextualRecallMetric\n\nquestion = \"How do I rotate an API key?\"\ndocs = retriever.invoke(question)\nactual_output = rag_chain.invoke(question)\n\ncase = LLMTestCase(\n    input=question,\n    actual_output=actual_output,\n    expected_output=\"Create a new API key, update applications to use it, then revoke the old key.\",\n    retrieval_context=[d.page_content for d in docs]\n)\n\nmetrics = [\n    AnswerRelevancyMetric(threshold=0.8),\n    FaithfulnessMetric(threshold=0.8),\n    ContextualRecallMetric(threshold=0.7)\n]\n\nfor metric in metrics:\n    metric.measure(case)\n    print(metric.__class__.__name__, metric.score)\n    print(metric.reason)\n```\n\nThe three metrics answer different questions:\n\n- **Answer relevancy**: did the response answer the user?\n- **Faithfulness**: was the response grounded in retrieved context?\n- **Contextual recall**: did retrieval include the required information?\n\nThis distinction saves debugging time. If contextual recall is low, fix retrieval. If faithfulness is low, fix the prompt, model, or output instructions.\n\n## Turning It into a Test Suite\n\nUse Pytest so evaluation can run in CI.\n\n```python\n# tests/test_rag_quality.py\nimport pytest\nfrom deepeval.test_case import LLMTestCase\nfrom deepeval.metrics import FaithfulnessMetric, AnswerRelevancyMetric\n\nGOLDEN_SET = [\n    {\n        \"question\": \"How do I rotate an API key?\",\n        \"expected\": \"Create a new key, update clients, revoke the old key.\"\n    },\n    {\n        \"question\": \"How can I export audit logs?\",\n        \"expected\": \"Audit logs can be exported from the admin console.\"\n    }\n]\n\n@pytest.mark.parametrize(\"item\", GOLDEN_SET)\ndef test_rag_response_quality(item):\n    docs = retriever.invoke(item[\"question\"])\n    output = rag_chain.invoke(item[\"question\"])\n\n    case = LLMTestCase(\n        input=item[\"question\"],\n        actual_output=output,\n        expected_output=item[\"expected\"],\n        retrieval_context=[d.page_content for d in docs]\n    )\n\n    faithfulness = FaithfulnessMetric(threshold=0.8)\n    relevancy = AnswerRelevancyMetric(threshold=0.8)\n\n    for metric in [faithfulness, relevancy]:\n        metric.measure(case)\n        assert metric.score >= metric.threshold, metric.reason\n```\n\nIn CI:\n\n```bash\npytest tests/test_rag_quality.py\n```\n\nFor pull requests, run a smaller smoke dataset. Nightly, run the full regression set.\n\n## Building an AI Harness\n\nAn AI harness is a layer around evaluation. At minimum, it should manage:\n\n- Test datasets\n- Prompt versions\n- Model versions\n- Embedding versions\n- Metric thresholds\n- Evaluation reports\n- Trace references\n- Release decisions\n\nA minimal harness structure:\n\n```text\nai-harness/\n  datasets/\n    support_golden.jsonl\n    adversarial.jsonl\n  prompts/\n    support_rag_v3.txt\n  tests/\n    test_rag_quality.py\n    test_agent_tools.py\n  reports/\n  harness.py\n```\n\nExample dataset item:\n\n```json\n{\"id\":\"api-key-001\",\"question\":\"How do I rotate an API key?\",\"expected\":\"Create a new key, update clients, revoke the old key.\",\"tags\":[\"security\",\"support\"]}\n```\n\nThe harness should output machine-readable results so n8n or CI can consume them.\n\n```json\n{\n  \"suite\": \"support-rag\",\n  \"passed\": false,\n  \"failures\": [\n    {\n      \"id\": \"api-key-001\",\n      \"metric\": \"Faithfulness\",\n      \"score\": 0.61,\n      \"threshold\": 0.8\n    }\n  ]\n}\n```\n\n## Where n8n Fits\n\nn8n is great for operational automation. You probably do not want to build your RAG chain inside n8n, but you may want n8n to orchestrate QA.\n\nExample workflow:\n\n1. Cron node starts nightly regression.\n2. HTTP Request node calls `POST /eval/run`.\n3. Function node parses the result.\n4. IF node checks `passed === false`.\n5. Jira node creates a bug for critical failures.\n6. Slack node posts a report.\n7. Database node stores historical scores.\n\nUse n8n when evaluation needs to touch business systems.\n\n## Where LangFlow Fits\n\nLangFlow is ideal when you want to visually prototype LangChain flows. You can experiment with:\n\n- Different chunk sizes\n- Embedding models\n- Vector stores\n- Prompt templates\n- Retriever settings\n- Output parsers\n\nA good workflow is to prototype in LangFlow, then export or reimplement the stable version in code. Once in code, add DeepEval tests and CI gates.\n\nLangFlow is for iteration speed. Version-controlled tests are for production confidence.\n\n## Where CrewAI Fits\n\nCrewAI is useful when you need role-based agents. For example:\n\n```python\nfrom crewai import Agent, Task, Crew\n\nresearcher = Agent(\n    role=\"Researcher\",\n    goal=\"Find relevant documentation\",\n    backstory=\"Expert in internal technical docs\",\n    tools=[docs_search_tool]\n)\n\ncritic = Agent(\n    role=\"QA Critic\",\n    goal=\"Check answers for hallucinations and missing evidence\",\n    backstory=\"Strict reviewer of AI-generated support answers\"\n)\n\nresearch_task = Task(\n    description=\"Research how API key rotation works.\",\n    expected_output=\"Relevant facts with sources.\",\n    agent=researcher\n)\n\nreview_task = Task(\n    description=\"Review the final answer for faithfulness and completeness.\",\n    expected_output=\"Pass/fail review with reasons.\",\n    agent=critic\n)\n\ncrew = Crew(agents=[researcher, critic], tasks=[research_task, review_task])\nresult = crew.kickoff()\n```\n\nCrewAI is powerful, but more agents mean more things to test. You should evaluate:\n\n- Final output quality\n- Whether each agent completed its role\n- Tool usage\n- Source grounding\n- Whether the critic caught issues\n- Whether the workflow terminated correctly\n\nDeepEval can evaluate final semantic quality. Deterministic trace checks can validate tool behavior.\n\n## MCP Workflow Evaluation\n\nMCP standardizes how agents connect to external tools and context. Instead of giving every agent custom integrations, an MCP server can expose tools like:\n\n```text\nsearch_docs(query)\nquery_database(sql)\ncreate_ticket(title, description)\nrun_eval_suite(name)\nread_file(path)\n```\n\nThis is useful for QA because tool calls become structured events.\n\nExample policy check:\n\n```python\ndef validate_tool_trace(trace):\n    allowed_tools = {\"search_docs\", \"run_eval_suite\", \"create_ticket\"}\n    for call in trace[\"tool_calls\"]:\n        assert call[\"name\"] in allowed_tools\n        assert \"password\" not in str(call.get(\"arguments\", {})).lower()\n        assert call[\"status\"] in [\"success\", \"handled_error\"]\n```\n\nFor MCP workflows, combine deterministic checks with semantic evals:\n\n- Deterministic: allowed tool, valid arguments, no secrets, correct status\n- Semantic: answer quality, faithfulness, task success, user helpfulness\n\n## Best Practices\n\n### Version your prompts\n\nPrompt changes can create regressions. Store prompts as files or versioned records.\n\n### Maintain golden and adversarial datasets\n\nGolden tests cover expected behavior. Adversarial tests cover prompt injection, missing context, ambiguous questions, and unsafe requests.\n\n### Use risk-based thresholds\n\nNot every metric needs the same threshold. A compliance assistant may require faithfulness above 0.95. A brainstorming assistant may prioritize helpfulness and diversity.\n\n### Capture traces\n\nStore retrieved docs, prompts, model outputs, tool calls, and errors. Without traces, failed evals are hard to debug.\n\n### Run different suites at different times\n\n- PR: small smoke suite\n- Merge to main: medium regression suite\n- Nightly: full benchmark\n- Pre-release: full benchmark plus human review\n\n### Do not over-agentize\n\nUse CrewAI when multiple roles improve outcomes. For simple RAG question answering, a single well-tested chain may be better.\n\n## Comparison Summary\n\n| Tool | Best Use | Evaluation Role |\n|---|---|---|\n| DeepEval | LLM metrics and tests | Measures semantic quality |\n| LangChain | RAG and agent implementation | Produces evaluable outputs and traces |\n| n8n | Workflow automation | Schedules evals, routes failures |\n| LangFlow | Visual prototyping | Experiments with chain design |\n| CrewAI | Multi-agent collaboration | Requires process and output evaluation |\n| MCP | Tool/context standardization | Makes tool calls structured and testable |\n| AI Harness | QA control plane | Manages datasets, thresholds, reports |\n\n## Final Architecture\n\nA practical production pattern:\n\n1. Prototype RAG flows in LangFlow.\n2. Implement stable chains in LangChain.\n3. Add DeepEval tests for retrieval and generation.\n4. Use CrewAI for role-based multi-agent tasks only when needed.\n5. Expose tools through MCP servers.\n6. Store datasets, prompt versions, traces, and thresholds in an AI harness.\n7. Use n8n to run scheduled tests, send alerts, and create tickets.\n8. Block releases when critical evals fail.\n\n## Conclusion\n\nReliable LLM systems require continuous evaluation. DeepEval gives you the metrics. LangChain gives you the application building blocks. n8n connects evaluation to operations. LangFlow speeds up prototyping. CrewAI supports multi-agent workflows. MCP standardizes tool access. An AI harness turns all of this into a repeatable QA process.\n\nThe goal is not to eliminate uncertainty. The goal is to make quality measurable, regressions visible, and releases safer."
          }
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "output": {
            "linkedinPost": "RAG demos are easy. RAG quality is not.\n\nOver the last few months, I’ve seen more teams use low-code AI builders like n8n and LangFlow to ship retrieval-augmented generation workflows faster. Both are excellent for prototyping and orchestration: n8n shines when RAG is part of a broader business process, while LangFlow is strong when you want a visual LLM pipeline with retrievers, prompts, chains, and vector stores.\n\nBut once the demo works, the real question becomes: how do we know which pipeline answers better?\n\nA comparative QA approach can help. Instead of relying on vibes, manual spot checks, or “the answer looks good,” evaluate both pipelines against the same test set using a repeatable harness:\n\n1. Build the same knowledge base and benchmark questions for both n8n and LangFlow.\n2. Expose each RAG pipeline through a consistent interface, ideally using MCP or a lightweight API wrapper.\n3. Run the same prompts, retrieval queries, and expected-answer checks through both systems.\n4. Use DeepEval metrics such as faithfulness, answer relevancy, contextual relevancy, contextual precision, and hallucination detection.\n5. Aggregate results in an AI Harness that captures traces, latency, cost, model versions, retrieved chunks, and pass/fail thresholds.\n\nThe goal is not just to ask “which tool is better?” It is to understand which pipeline configuration is better for a specific use case.\n\nFor example:\n• n8n may perform better when the workflow needs CRM updates, ticket routing, notifications, or human approval steps.\n• LangFlow may be easier to tune when you are experimenting with retriever settings, chunking strategies, chain composition, or prompt templates.\n• MCP can normalize how evaluators call each workflow.\n• DeepEval can turn subjective QA into measurable quality gates.\n• An AI Harness can make evaluation part of CI/CD instead of a one-time spreadsheet exercise.\n\nThe best RAG teams I’ve seen treat evaluation as infrastructure. They version their datasets, prompts, retrieval configs, and scoring thresholds. They do regression testing before every deployment. They inspect failures by category: missing context, bad retrieval, weak synthesis, unsupported answer, stale document, or ambiguous query.\n\nIf you’re building RAG in n8n or LangFlow, don’t stop at “it works.” Build a QA loop that tells you when it stops working.\n\n#RAG #LLM #AIEngineering #n8n #LangFlow #DeepEval #MCP #VectorSearch #PromptEngineering #DeveloperTools #AIEvaluation",
            "mediumArticle": "# Evaluating RAG Pipelines Built in n8n and LangFlow: A Comparative QA Approach Using MCP, DeepEval, and AI Harness\n\nRetrieval-augmented generation has moved from research pattern to production architecture. Teams now use RAG to power support assistants, internal knowledge bots, compliance copilots, developer documentation search, sales enablement tools, and enterprise Q&A systems. The promise is straightforward: retrieve relevant source material, provide it to a language model, and produce grounded answers.\n\nThe implementation reality is less straightforward.\n\nA RAG system can appear to work in a demo while failing quietly in production. It may retrieve the wrong chunks, synthesize unsupported claims, ignore relevant context, produce stale answers, or respond confidently when it should say “I don’t know.” The challenge becomes even more interesting when teams use different builder platforms such as n8n and LangFlow. Both can create RAG workflows, but their strengths differ. n8n is excellent for business workflow automation and integrations. LangFlow is excellent for visual LLM application design, experimentation, and chain composition.\n\nSo how do we compare RAG pipelines built in both tools fairly?\n\nThis article presents a practical QA framework using three ideas:\n\n- **MCP** as a normalized interface for calling and inspecting RAG tools.\n- **DeepEval** as a metric-based evaluation framework for measuring answer quality.\n- **AI Harness** as an orchestration layer that runs test suites, captures traces, compares results, and enforces quality gates.\n\nThe objective is not to declare one platform universally better. The objective is to evaluate which pipeline is better for your data, your users, your operational constraints, and your acceptance criteria.\n\n---\n\n## 1. The Evaluation Problem in RAG\n\nTraditional software tests usually check deterministic behavior: given input X, output should equal Y. RAG is different. The response may vary across runs, model versions, retriever configurations, prompt templates, or document updates. Even when two answers are phrased differently, both may be acceptable if they are faithful to the source context.\n\nA useful RAG evaluation strategy should answer several questions:\n\n1. Did the retriever find the right context?\n2. Did the generator use the context correctly?\n3. Is the answer relevant to the user question?\n4. Is the answer faithful to the retrieved documents?\n5. Did the model hallucinate unsupported information?\n6. Is latency acceptable?\n7. Is token cost acceptable?\n8. Does the system fail safely when information is missing?\n\nWhen comparing n8n and LangFlow, you also need platform-level questions:\n\n- Which system is easier to configure and reproduce?\n- Which one is easier to observe and debug?\n- Which one integrates better with your production environment?\n- Which pipeline is more stable under regression tests?\n\nA comparative QA approach makes these questions measurable.\n\n---\n\n## 2. Reference Architecture\n\nA fair comparison requires both RAG pipelines to consume the same corpus and answer the same questions. The high-level architecture looks like this:\n\n```text\n                ┌───────────────────────┐\n                │ Evaluation Dataset     │\n                │ questions + references │\n                └───────────┬───────────┘\n                            │\n                            ▼\n                  ┌───────────────────┐\n                  │ AI Harness Runner │\n                  └───────┬─────┬─────┘\n                          │     │\n        ┌─────────────────┘     └─────────────────┐\n        ▼                                         ▼\n┌──────────────────┐                    ┌──────────────────┐\n│ n8n RAG Pipeline │                    │ LangFlow Pipeline│\n└────────┬─────────┘                    └────────┬─────────┘\n         │                                       │\n         ▼                                       ▼\n┌──────────────────┐                    ┌──────────────────┐\n│ Retrieved chunks │                    │ Retrieved chunks │\n│ Generated answer │                    │ Generated answer │\n│ Trace metadata   │                    │ Trace metadata   │\n└────────┬─────────┘                    └────────┬─────────┘\n         │                                       │\n         └──────────────────┬────────────────────┘\n                            ▼\n                    ┌──────────────┐\n                    │ DeepEval     │\n                    │ metrics      │\n                    └──────┬───────┘\n                           ▼\n                    ┌──────────────┐\n                    │ QA Report    │\n                    └──────────────┘\n```\n\nThe harness is responsible for standardizing inputs and outputs. DeepEval evaluates semantic quality. MCP can provide a structured tool interface so evaluators can call each pipeline consistently.\n\n---\n\n## 3. Building Comparable Pipelines in n8n and LangFlow\n\nThe first rule of comparative evaluation is to reduce uncontrolled variables. If the n8n workflow and LangFlow flow differ in every dimension, your results will be difficult to interpret.\n\nTry to keep these variables consistent:\n\n- Source documents\n- Chunking strategy\n- Embedding model\n- Vector database\n- Top-k retrieval value\n- LLM model\n- Temperature\n- System prompt\n- Output schema\n\nThen intentionally vary one dimension at a time. For example, compare n8n vs LangFlow orchestration while keeping the retriever and model the same. Later, compare chunk sizes or prompts independently.\n\n### Example Output Schema\n\nEach pipeline should return a normalized response:\n\n```json\n{\n  \"answer\": \"The generated answer text.\",\n  \"contexts\": [\n    \"Retrieved chunk 1\",\n    \"Retrieved chunk 2\"\n  ],\n  \"sources\": [\n    {\n      \"document_id\": \"handbook-2024.pdf\",\n      \"page\": 12,\n      \"score\": 0.82\n    }\n  ],\n  \"metadata\": {\n    \"pipeline\": \"n8n\",\n    \"model\": \"gpt-4o-mini\",\n    \"latency_ms\": 1830,\n    \"retriever_top_k\": 5\n  }\n}\n```\n\nThis normalized schema is critical. DeepEval can evaluate answers and context, but the harness needs predictable fields.\n\n---\n\n## 4. Exposing Pipelines Through MCP\n\nMCP, or Model Context Protocol, is a standard way to expose tools and data sources to AI applications. In this evaluation setup, MCP can act as a clean interface between the evaluator and your RAG pipelines.\n\nInstead of writing a different client for every system, define tools such as:\n\n- `query_n8n_rag`\n- `query_langflow_rag`\n- `get_trace`\n- `list_eval_cases`\n\nA simplified MCP-style tool contract might look like this:\n\n```json\n{\n  \"name\": \"query_rag_pipeline\",\n  \"description\": \"Query a RAG pipeline and return answer, contexts, sources, and metadata.\",\n  \"inputSchema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"pipeline\": { \"type\": \"string\", \"enum\": [\"n8n\", \"langflow\"] },\n      \"question\": { \"type\": \"string\" },\n      \"case_id\": { \"type\": \"string\" }\n    },\n    \"required\": [\"pipeline\", \"question\"]\n  }\n}\n```\n\nIn practice, the MCP server can call n8n webhooks and LangFlow API endpoints behind the scenes.\n\n### Python Wrapper Example\n\n```python\nimport requests\nimport time\n\nN8N_WEBHOOK_URL = \"https://n8n.example.com/webhook/rag-query\"\nLANGFLOW_API_URL = \"https://langflow.example.com/api/v1/run/my-flow\"\n\n\ndef query_n8n(question: str, case_id: str | None = None) -> dict:\n    start = time.time()\n    response = requests.post(\n        N8N_WEBHOOK_URL,\n        json={\"question\": question, \"case_id\": case_id},\n        timeout=60,\n    )\n    response.raise_for_status()\n    data = response.json()\n    data.setdefault(\"metadata\", {})\n    data[\"metadata\"][\"pipeline\"] = \"n8n\"\n    data[\"metadata\"][\"latency_ms\"] = int((time.time() - start) * 1000)\n    return data\n\n\ndef query_langflow(question: str, case_id: str | None = None) -> dict:\n    start = time.time()\n    response = requests.post(\n        LANGFLOW_API_URL,\n        json={\n            \"input_value\": question,\n            \"output_type\": \"chat\",\n            \"input_type\": \"chat\",\n            \"tweaks\": {\"case_id\": case_id},\n        },\n        timeout=60,\n    )\n    response.raise_for_status()\n    raw = response.json()\n\n    # Normalize LangFlow response to the shared schema.\n    answer = raw.get(\"outputs\", [{}])[0].get(\"outputs\", [{}])[0].get(\"results\", {}).get(\"message\", {}).get(\"text\", \"\")\n    contexts = raw.get(\"contexts\", [])\n\n    return {\n        \"answer\": answer,\n        \"contexts\": contexts,\n        \"sources\": raw.get(\"sources\", []),\n        \"metadata\": {\n            \"pipeline\": \"langflow\",\n            \"latency_ms\": int((time.time() - start) * 1000),\n        },\n    }\n```\n\nThe exact LangFlow response shape may vary depending on your deployment and components, but the key idea is normalization.\n\n---\n\n## 5. Designing the Evaluation Dataset\n\nA RAG evaluation is only as good as its test cases. Avoid building a dataset that contains only easy, happy-path questions. Real users ask ambiguous, incomplete, adversarial, and multi-hop questions.\n\nA strong dataset should include:\n\n### Direct factual questions\n\nExample: “What is the company reimbursement limit for domestic meals?”\n\nThese test whether the system can retrieve and summarize a specific fact.\n\n### Multi-hop questions\n\nExample: “If an employee travels internationally for four days and submits receipts late, what reimbursement rules apply?”\n\nThese require combining multiple pieces of context.\n\n### Negative questions\n\nExample: “What is the reimbursement policy for private jet travel?”\n\nIf the corpus does not contain the answer, the system should say so instead of inventing one.\n\n### Ambiguous questions\n\nExample: “What is the limit?”\n\nThe model should ask a clarifying question or answer with caveats.\n\n### Freshness-sensitive questions\n\nExample: “What changed in the 2024 policy compared with the 2023 version?”\n\nThese test metadata filtering and version handling.\n\nA sample evaluation case can be stored as JSONL:\n\n```json\n{\"id\":\"case_001\",\"question\":\"What is the domestic meal reimbursement limit?\",\"expected\":\"The domestic meal reimbursement limit is $75 per day.\",\"tags\":[\"factual\",\"policy\"]}\n{\"id\":\"case_002\",\"question\":\"Can contractors expense home office furniture?\",\"expected\":\"The policy does not state that contractors can expense home office furniture.\",\"tags\":[\"negative\",\"contractors\"]}\n```\n\nFor contextual metrics, it helps to include expected source document IDs or reference contexts:\n\n```json\n{\n  \"id\": \"case_003\",\n  \"question\": \"When must travel receipts be submitted?\",\n  \"expected\": \"Receipts must be submitted within 30 days of travel completion.\",\n  \"expected_sources\": [\"travel-policy-2024.md#receipts\"],\n  \"tags\": [\"factual\", \"deadline\"]\n}\n```\n\n---\n\n## 6. Evaluating with DeepEval\n\nDeepEval is a Python framework for evaluating LLM applications. It provides metrics that are especially useful for RAG, including answer relevancy, faithfulness, contextual relevancy, contextual precision, and contextual recall.\n\nInstall it:\n\n```bash\npip install deepeval\n```\n\nA minimal evaluation script might look like this:\n\n```python\nfrom deepeval import evaluate\nfrom deepeval.test_case import LLMTestCase\nfrom deepeval.metrics import (\n    AnswerRelevancyMetric,\n    FaithfulnessMetric,\n    ContextualRelevancyMetric,\n)\n\nfrom clients import query_n8n, query_langflow\n\ncases = [\n    {\n        \"id\": \"case_001\",\n        \"question\": \"What is the domestic meal reimbursement limit?\",\n        \"expected\": \"The domestic meal reimbursement limit is $75 per day.\",\n    },\n    {\n        \"id\": \"case_002\",\n        \"question\": \"Can contractors expense home office furniture?\",\n        \"expected\": \"The policy does not state that contractors can expense home office furniture.\",\n    },\n]\n\nmetrics = [\n    AnswerRelevancyMetric(threshold=0.8),\n    FaithfulnessMetric(threshold=0.8),\n    ContextualRelevancyMetric(threshold=0.75),\n]\n\n\ndef build_test_case(case, result):\n    return LLMTestCase(\n        input=case[\"question\"],\n        actual_output=result[\"answer\"],\n        expected_output=case[\"expected\"],\n        retrieval_context=result.get(\"contexts\", []),\n    )\n\n\ndef run_pipeline(name, query_fn):\n    test_cases = []\n    for case in cases:\n        result = query_fn(case[\"question\"], case[\"id\"])\n        test_cases.append(build_test_case(case, result))\n    print(f\"Evaluating {name}\")\n    evaluate(test_cases=test_cases, metrics=metrics)\n\n\nrun_pipeline(\"n8n\", query_n8n)\nrun_pipeline(\"langflow\", query_langflow)\n```\n\nThis gives you a repeatable baseline. From here, add richer metrics and reporting.\n\n---\n\n## 7. Metrics That Matter\n\nNo single score can fully represent RAG quality. Use a balanced scorecard.\n\n### Answer Relevancy\n\nDoes the answer address the user’s question? A response can be faithful to context but still irrelevant if it answers the wrong thing.\n\n### Faithfulness\n\nIs the answer supported by retrieved context? This is one of the most important RAG metrics. If the model says something that cannot be inferred from the context, the faithfulness score should drop.\n\n### Contextual Relevancy\n\nAre the retrieved chunks relevant to the question? If contextual relevancy is low, the problem is often retrieval, not generation.\n\n### Contextual Precision\n\nAre the most relevant chunks ranked near the top? This matters because LLMs tend to pay more attention to earlier context.\n\n### Contextual Recall\n\nDid the retriever find all required evidence? Low recall means the model may not have enough information to answer correctly.\n\n### Hallucination Rate\n\nHow often does the answer contain unsupported claims? Negative test cases are useful here.\n\n### Latency and Cost\n\nQuality is not the only dimension. A RAG pipeline that is 3% more accurate but 5x slower may not be viable for support chat.\n\n---\n\n## 8. Building an AI Harness\n\nThe AI Harness is the layer that turns individual evaluations into a QA system. It should do five jobs:\n\n1. Load versioned evaluation datasets.\n2. Run the same cases against each pipeline.\n3. Store raw outputs, contexts, metadata, and traces.\n4. Execute DeepEval metrics.\n5. Produce comparison reports and enforce thresholds.\n\nA simple project structure:\n\n```text\nrag-eval/\n  datasets/\n    policy_qa.v1.jsonl\n    policy_qa.v2.jsonl\n  harness/\n    clients.py\n    runner.py\n    metrics.py\n    report.py\n  reports/\n  pyproject.toml\n```\n\nExample runner:\n\n```python\nimport json\nfrom pathlib import Path\nfrom clients import query_n8n, query_langflow\nfrom metrics import score_case\n\nPIPELINES = {\n    \"n8n\": query_n8n,\n    \"langflow\": query_langflow,\n}\n\n\ndef load_jsonl(path):\n    with open(path, \"r\", encoding=\"utf-8\") as f:\n        for line in f:\n            yield json.loads(line)\n\n\ndef run(dataset_path: str):\n    results = []\n    cases = list(load_jsonl(dataset_path))\n\n    for case in cases:\n        for pipeline_name, query_fn in PIPELINES.items():\n            raw = query_fn(case[\"question\"], case[\"id\"])\n            score = score_case(case, raw)\n            results.append({\n                \"case_id\": case[\"id\"],\n                \"pipeline\": pipeline_name,\n                \"question\": case[\"question\"],\n                \"expected\": case.get(\"expected\"),\n                \"answer\": raw.get(\"answer\"),\n                \"contexts\": raw.get(\"contexts\", []),\n                \"sources\": raw.get(\"sources\", []),\n                \"metadata\": raw.get(\"metadata\", {}),\n                \"scores\": score,\n            })\n\n    output = Path(\"reports/latest.json\")\n    output.parent.mkdir(exist_ok=True)\n    output.write_text(json.dumps(results, indent=2), encoding=\"utf-8\")\n    return results\n\n\nif __name__ == \"__main__\":\n    run(\"datasets/policy_qa.v1.jsonl\")\n```\n\nThe harness can later be extended with dashboards, CI integration, Slack alerts, and regression analysis.\n\n---\n\n## 9. Comparing n8n and LangFlow Results\n\nOnce both pipelines are evaluated, compare results by metric and by failure category.\n\nExample summary:\n\n```text\nDataset: policy_qa.v1.jsonl\nCases: 120\n\nMetric                  n8n       LangFlow\nAnswer relevancy        0.84      0.87\nFaithfulness            0.79      0.86\nContextual relevancy    0.81      0.88\nAvg latency             2.4s      2.1s\nP95 latency             5.8s      4.9s\nHallucination failures  14        8\nNegative case pass rate 72%       84%\n```\n\nThis does not automatically mean LangFlow is always better. It means the tested LangFlow configuration performed better on this dataset under these conditions. If the n8n workflow includes extra validation, human approval, CRM lookup, or document freshness checks, it may outperform LangFlow in end-to-end business reliability.\n\nBreak failures down into categories:\n\n- Retrieval miss\n- Retrieval noise\n- Prompt noncompliance\n- Unsupported claim\n- Incomplete answer\n- Wrong source version\n- Latency timeout\n- Formatting failure\n\nThis taxonomy makes results actionable.\n\n---\n\n## 10. Best Practices\n\n### Keep the corpus identical\n\nDo not compare n8n against LangFlow using different document indexes unless that is the experiment.\n\n### Version everything\n\nVersion documents, chunking configs, prompts, embedding models, vector indexes, evaluation cases, and thresholds.\n\n### Separate retrieval evaluation from generation evaluation\n\nIf retrieval is weak, prompt changes may only hide the problem. Evaluate retrieval quality directly.\n\n### Use negative tests\n\nNegative tests reveal hallucination behavior. A production RAG system must know when not to answer.\n\n### Capture retrieved chunks\n\nNever evaluate only the final answer. Store contexts and source metadata for every run.\n\n### Add human review for disputed cases\n\nLLM-as-judge metrics are useful, but high-risk domains still need expert review.\n\n### Run regression tests in CI\n\nEvery prompt, model, retriever, or document-index change can affect quality. Treat RAG changes like code changes.\n\n### Monitor production drift\n\nEvaluation datasets can become stale. Add real anonymized user questions to your test set over time.\n\n---\n\n## 11. CI Quality Gate Example\n\nYou can enforce minimum thresholds in CI:\n\n```python\nimport json\nimport sys\n\nMIN_FAITHFULNESS = 0.82\nMIN_RELEVANCY = 0.80\nMAX_P95_LATENCY_MS = 6000\n\nwith open(\"reports/summary.json\", \"r\", encoding=\"utf-8\") as f:\n    summary = json.load(f)\n\nfailed = False\nfor pipeline, metrics in summary.items():\n    if metrics[\"faithfulness\"] < MIN_FAITHFULNESS:\n        print(f\"FAIL: {pipeline} faithfulness below threshold\")\n        failed = True\n    if metrics[\"answer_relevancy\"] < MIN_RELEVANCY:\n        print(f\"FAIL: {pipeline} answer relevancy below threshold\")\n        failed = True\n    if metrics[\"p95_latency_ms\"] > MAX_P95_LATENCY_MS:\n        print(f\"FAIL: {pipeline} latency above threshold\")\n        failed = True\n\nsys.exit(1 if failed else 0)\n```\n\nThis transforms evaluation from a manual research task into an engineering control.\n\n---\n\n## 12. Final Thoughts\n\nn8n and LangFlow both make RAG development more accessible, but accessibility does not remove the need for evaluation. In fact, visual builders can make evaluation even more important because workflows evolve quickly and configuration changes may be harder to review than code diffs.\n\nA comparative QA approach gives teams a practical way to measure quality across platforms. MCP standardizes access. DeepEval provides semantic scoring. An AI Harness connects everything into repeatable tests, reports, and quality gates.\n\nThe best RAG system is not the one that produces the most impressive demo answer. It is the one that retrieves the right evidence, answers faithfully, fails safely, meets latency targets, and continues to pass regression tests as your knowledge base changes.\n\nIf you are building RAG with n8n or LangFlow, start evaluating now. Your future production incidents will thank you.",
            "igScript": "Hook: Your RAG chatbot works… but can you prove it?\n\nIf you’re building AI workflows in n8n or LangFlow, don’t stop at a nice demo. The real question is: which pipeline gives better answers, with fewer hallucinations, using the right sources?\n\nHere’s the QA stack I’d use:\n\nFirst, expose both pipelines through the same interface using MCP or a simple API wrapper.\n\nSecond, run the same question set against both systems. Include easy questions, tricky multi-hop questions, and “the answer is not in the docs” questions.\n\nThird, score everything with DeepEval: answer relevancy, faithfulness, contextual relevancy, and hallucination checks.\n\nFinally, use an AI Harness to track results, latency, cost, retrieved chunks, and regressions over time.\n\nThe goal isn’t “n8n vs LangFlow” as a popularity contest. It’s finding the best RAG setup for your real users.\n\nDon’t trust vibes. Test your RAG.",
            "ytScript": "Hey everyone, welcome back. Today we’re talking about something that separates a cool RAG demo from a production-ready AI system: evaluation.\n\nSpecifically, we’re going to compare RAG pipelines built in two popular visual tools: n8n and LangFlow. And we’re going to look at a practical QA approach using MCP, DeepEval, and what I’ll call an AI Harness.\n\nLet’s start with the problem.\n\nRAG, or retrieval-augmented generation, sounds simple. You take a user question, retrieve relevant documents from a vector database, pass those documents into a language model, and generate an answer. But if you’ve built one of these systems, you know the hard part is not making it answer. The hard part is knowing whether the answer is good.\n\nA RAG pipeline can fail in a lot of ways. It can retrieve the wrong chunks. It can retrieve the right chunks but ignore them. It can mix facts from different documents. It can hallucinate a confident answer when the information is not in the knowledge base. Or it can give a technically correct answer that does not actually address the user’s question.\n\nNow add two different platforms into the mix.\n\nn8n is great when your RAG workflow is part of a larger automation. Maybe the answer needs to create a support ticket, update a CRM, notify Slack, or route to a human reviewer. LangFlow is great when you want to visually design and tune LLM chains, retrievers, prompts, embeddings, and vector store components.\n\nBut if both can build a RAG assistant, how do you compare them fairly?\n\nThe answer is: use the same dataset, the same scoring criteria, and the same output contract.\n\nHere’s the architecture I recommend.\n\nFirst, build an evaluation dataset. This should include real questions your users might ask. Don’t only include easy factual questions. Add multi-hop questions, ambiguous questions, outdated-policy questions, and negative questions where the correct behavior is to say, “I don’t know based on the provided documents.”\n\nEach test case should include an ID, the question, an expected answer, and ideally expected source documents. For example: “When must travel receipts be submitted?” Expected answer: “Within 30 days of travel completion.” Expected source: “travel-policy-2024.”\n\nSecond, normalize the outputs from both pipelines. Whether the answer comes from n8n or LangFlow, the evaluator should receive the same structure: answer, retrieved contexts, sources, and metadata. Metadata should include pipeline name, model, latency, top-k value, and any relevant configuration.\n\nThird, expose both systems through a consistent interface. This is where MCP can help. MCP, or Model Context Protocol, gives you a standard way to expose tools and data sources. You could define tools like query_n8n_rag and query_langflow_rag. Under the hood, query_n8n_rag might call an n8n webhook, and query_langflow_rag might call a LangFlow API endpoint. But the evaluator doesn’t need to care. It just calls a tool and gets a normalized response.\n\nFourth, score the results with DeepEval. DeepEval is an evaluation framework for LLM applications, and it has metrics that are very useful for RAG.\n\nThe big ones are answer relevancy, faithfulness, contextual relevancy, contextual precision, and contextual recall.\n\nAnswer relevancy asks: did the response actually answer the question?\n\nFaithfulness asks: is the answer supported by the retrieved context?\n\nContextual relevancy asks: were the retrieved chunks relevant in the first place?\n\nContextual precision asks: were the most useful chunks ranked near the top?\n\nContextual recall asks: did the retriever find the information needed to answer correctly?\n\nThese metrics help you separate retrieval problems from generation problems. That distinction matters. If your retriever is bad, prompt engineering alone probably won’t save you.\n\nFifth, run everything through an AI Harness. Think of the harness as the test runner for your AI system. It loads the dataset, calls each pipeline, stores raw outputs, runs DeepEval metrics, calculates summaries, and produces a comparison report.\n\nA good report should show more than one average score. You want to see failure categories. Did the n8n pipeline fail because of missing context? Did LangFlow fail because the prompt ignored a source? Which one handled negative questions better? Which one had lower latency? Which one was more stable across repeated runs?\n\nHere’s an example comparison.\n\nMaybe LangFlow scores higher on contextual relevancy because it’s easier to tune retriever settings visually. Maybe n8n performs better on operational workflows because it can check document freshness, call an internal API, and route uncertain answers to a human.\n\nThat’s the key point: this is not about declaring one tool better for every use case. It’s about measuring the right pipeline for your use case.\n\nA few best practices.\n\nKeep the corpus identical. Use the same documents, same embedding model, same vector database, same top-k, same model, and same temperature if you want a fair platform comparison.\n\nVersion everything: prompts, datasets, documents, chunking strategy, embedding model, and evaluation thresholds.\n\nInclude negative tests. These are incredibly important because they reveal whether your system can safely say it does not know.\n\nCapture retrieved chunks. Never evaluate only the final answer. If you don’t store the context, you can’t debug the failure.\n\nAnd finally, put evaluation into CI. If someone changes a prompt or updates the knowledge base, run the regression suite automatically. If faithfulness drops below your threshold, block the deployment.\n\nSo, to wrap up: n8n and LangFlow are both powerful ways to build RAG pipelines. MCP helps standardize how you call them. DeepEval helps measure semantic quality. An AI Harness turns evaluation into a repeatable engineering process.\n\nDon’t ship RAG based on vibes. Ship it with tests, traces, metrics, and quality gates.\n\nIf this was helpful, like the video, subscribe for more AI engineering content, and let me know in the comments: are you building RAG in code, n8n, LangFlow, or something else? See you in the next one.",
            "devtoArticle": "# Evaluating RAG Pipelines Built in n8n and LangFlow with MCP, DeepEval, and an AI Harness\n\nRAG applications are easy to prototype and surprisingly hard to trust. A chatbot can return a polished answer while using the wrong context, missing the most relevant document, or inventing a policy that does not exist.\n\nThis becomes especially important when you are building RAG workflows in visual tools like **n8n** and **LangFlow**. Both can get you to a working prototype quickly, but production teams need more than a working prototype. They need a repeatable way to compare quality.\n\nThis article walks through a developer-focused approach for evaluating n8n and LangFlow RAG pipelines using:\n\n- **MCP** as a normalized tool interface\n- **DeepEval** for RAG evaluation metrics\n- **An AI Harness** to run tests, store outputs, and compare pipelines\n\nThe goal is not to prove that n8n is better than LangFlow or vice versa. The goal is to build a fair evaluation loop.\n\n---\n\n## The Setup\n\nAssume we have the same knowledge base indexed into the same vector database. We build two RAG pipelines:\n\n1. An **n8n workflow** triggered by a webhook.\n2. A **LangFlow flow** exposed through its API.\n\nBoth receive a question and return:\n\n```json\n{\n  \"answer\": \"...\",\n  \"contexts\": [\"...\", \"...\"],\n  \"sources\": [\n    { \"document_id\": \"travel-policy.md\", \"score\": 0.87 }\n  ],\n  \"metadata\": {\n    \"model\": \"gpt-4o-mini\",\n    \"top_k\": 5,\n    \"latency_ms\": 1200\n  }\n}\n```\n\nThis common schema is important. Evaluation gets messy when every pipeline returns a different shape.\n\n---\n\n## Why RAG Evaluation Is Different\n\nNormal unit tests often look like this:\n\n```python\nassert add(2, 2) == 4\n```\n\nRAG tests are fuzzier. Two answers can be phrased differently and both be correct. Another answer can sound correct but be unsupported by the retrieved context.\n\nYou need to evaluate multiple dimensions:\n\n- Did the answer address the question?\n- Was the answer grounded in the retrieved context?\n- Were the retrieved chunks relevant?\n- Did the retriever find all required evidence?\n- Did the system hallucinate?\n- How long did the pipeline take?\n- How much did it cost?\n\nThat is why we need evaluation metrics, not just exact string matching.\n\n---\n\n## Step 1: Create an Evaluation Dataset\n\nStart with JSONL. It is simple, versionable, and easy to run in CI.\n\n`datasets/policy_qa.v1.jsonl`:\n\n```json\n{\"id\":\"case_001\",\"question\":\"What is the domestic meal reimbursement limit?\",\"expected\":\"The domestic meal reimbursement limit is $75 per day.\",\"tags\":[\"factual\"]}\n{\"id\":\"case_002\",\"question\":\"When must travel receipts be submitted?\",\"expected\":\"Receipts must be submitted within 30 days after travel completion.\",\"tags\":[\"deadline\"]}\n{\"id\":\"case_003\",\"question\":\"Can contractors expense private jet travel?\",\"expected\":\"The policy does not say that contractors can expense private jet travel.\",\"tags\":[\"negative\"]}\n```\n\nInclude at least these types:\n\n- Factual questions\n- Multi-hop questions\n- Ambiguous questions\n- Negative questions\n- Version-sensitive questions\n\nNegative questions are critical. They test whether your RAG system can say “I don’t know” instead of making things up.\n\n---\n\n## Step 2: Build Pipeline Clients\n\nLet’s create wrappers for both systems.\n\n`harness/clients.py`:\n\n```python\nimport os\nimport time\nimport requests\n\nN8N_WEBHOOK_URL = os.environ[\"N8N_WEBHOOK_URL\"]\nLANGFLOW_API_URL = os.environ[\"LANGFLOW_API_URL\"]\n\n\ndef query_n8n(question: str, case_id: str) -> dict:\n    start = time.time()\n    response = requests.post(\n        N8N_WEBHOOK_URL,\n        json={\"question\": question, \"case_id\": case_id},\n        timeout=60,\n    )\n    response.raise_for_status()\n    data = response.json()\n\n    return {\n        \"answer\": data.get(\"answer\", \"\"),\n        \"contexts\": data.get(\"contexts\", []),\n        \"sources\": data.get(\"sources\", []),\n        \"metadata\": {\n            **data.get(\"metadata\", {}),\n            \"pipeline\": \"n8n\",\n            \"latency_ms\": int((time.time() - start) * 1000),\n        },\n    }\n\n\ndef query_langflow(question: str, case_id: str) -> dict:\n    start = time.time()\n    response = requests.post(\n        LANGFLOW_API_URL,\n        json={\n            \"input_value\": question,\n            \"input_type\": \"chat\",\n            \"output_type\": \"chat\",\n            \"tweaks\": {\"case_id\": case_id},\n        },\n        timeout=60,\n    )\n    response.raise_for_status()\n    raw = response.json()\n\n    # Adjust this parser to your LangFlow output shape.\n    answer = raw.get(\"answer\") or raw.get(\"output\") or \"\"\n\n    return {\n        \"answer\": answer,\n        \"contexts\": raw.get(\"contexts\", []),\n        \"sources\": raw.get(\"sources\", []),\n        \"metadata\": {\n            \"pipeline\": \"langflow\",\n            \"latency_ms\": int((time.time() - start) * 1000),\n        },\n    }\n```\n\nThe wrapper hides platform-specific details. The rest of the evaluation code only sees normalized RAG results.\n\n---\n\n## Step 3: Optionally Put MCP in Front\n\nMCP is useful when you want tools to be discoverable and callable through a standard protocol. For this setup, you can expose both RAG pipelines as tools:\n\n```json\n{\n  \"name\": \"query_rag_pipeline\",\n  \"description\": \"Query either the n8n or LangFlow RAG pipeline.\",\n  \"inputSchema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"pipeline\": { \"type\": \"string\", \"enum\": [\"n8n\", \"langflow\"] },\n      \"question\": { \"type\": \"string\" },\n      \"case_id\": { \"type\": \"string\" }\n    },\n    \"required\": [\"pipeline\", \"question\"]\n  }\n}\n```\n\nUnder the hood:\n\n- `pipeline=n8n` calls the n8n webhook.\n- `pipeline=langflow` calls the LangFlow endpoint.\n\nThis gives your evaluator, agents, or QA tools one consistent interface.\n\nIf you do not need MCP yet, start with simple Python clients. The important concept is interface normalization.\n\n---\n\n## Step 4: Add DeepEval\n\nInstall dependencies:\n\n```bash\npip install deepeval requests\n```\n\nCreate metrics:\n\n`harness/evaluate_case.py`:\n\n```python\nfrom deepeval.test_case import LLMTestCase\nfrom deepeval.metrics import (\n    AnswerRelevancyMetric,\n    FaithfulnessMetric,\n    ContextualRelevancyMetric,\n)\n\nmetrics = [\n    AnswerRelevancyMetric(threshold=0.8),\n    FaithfulnessMetric(threshold=0.8),\n    ContextualRelevancyMetric(threshold=0.75),\n]\n\n\ndef make_test_case(case: dict, result: dict) -> LLMTestCase:\n    return LLMTestCase(\n        input=case[\"question\"],\n        actual_output=result[\"answer\"],\n        expected_output=case.get(\"expected\"),\n        retrieval_context=result.get(\"contexts\", []),\n    )\n\n\ndef score_case(case: dict, result: dict) -> dict:\n    test_case = make_test_case(case, result)\n    scores = {}\n\n    for metric in metrics:\n        metric.measure(test_case)\n        scores[metric.__class__.__name__] = {\n            \"score\": metric.score,\n            \"success\": metric.success,\n            \"reason\": metric.reason,\n        }\n\n    return scores\n```\n\nDeepEval uses LLM-based evaluation for many metrics, so configure the evaluator model according to your environment. In production QA, keep that evaluator model stable so scores are comparable over time.\n\n---\n\n## Step 5: Build the AI Harness Runner\n\nThe harness coordinates everything.\n\n`harness/runner.py`:\n\n```python\nimport json\nfrom pathlib import Path\nfrom clients import query_n8n, query_langflow\nfrom evaluate_case import score_case\n\nPIPELINES = {\n    \"n8n\": query_n8n,\n    \"langflow\": query_langflow,\n}\n\n\ndef load_jsonl(path: str):\n    with open(path, \"r\", encoding=\"utf-8\") as f:\n        for line in f:\n            if line.strip():\n                yield json.loads(line)\n\n\ndef run(dataset_path: str):\n    cases = list(load_jsonl(dataset_path))\n    results = []\n\n    for case in cases:\n        for pipeline_name, query_fn in PIPELINES.items():\n            print(f\"Running {case['id']} on {pipeline_name}\")\n            result = query_fn(case[\"question\"], case[\"id\"])\n            scores = score_case(case, result)\n\n            results.append({\n                \"case_id\": case[\"id\"],\n                \"pipeline\": pipeline_name,\n                \"question\": case[\"question\"],\n                \"expected\": case.get(\"expected\"),\n                \"answer\": result.get(\"answer\"),\n                \"contexts\": result.get(\"contexts\", []),\n                \"sources\": result.get(\"sources\", []),\n                \"metadata\": result.get(\"metadata\", {}),\n                \"scores\": scores,\n            })\n\n    Path(\"reports\").mkdir(exist_ok=True)\n    Path(\"reports/results.json\").write_text(\n        json.dumps(results, indent=2),\n        encoding=\"utf-8\",\n    )\n\n    return results\n\n\nif __name__ == \"__main__\":\n    run(\"datasets/policy_qa.v1.jsonl\")\n```\n\nRun it:\n\n```bash\nexport N8N_WEBHOOK_URL=\"https://n8n.example.com/webhook/rag-query\"\nexport LANGFLOW_API_URL=\"https://langflow.example.com/api/v1/run/my-flow\"\npython harness/runner.py\n```\n\nNow you have raw results for every test case and both pipelines.\n\n---\n\n## Step 6: Generate a Summary Report\n\nRaw JSON is useful for debugging, but you also want aggregate metrics.\n\n`harness/report.py`:\n\n```python\nimport json\nfrom collections import defaultdict\n\n\ndef summarize(results_path=\"reports/results.json\"):\n    results = json.load(open(results_path, \"r\", encoding=\"utf-8\"))\n    grouped = defaultdict(list)\n\n    for row in results:\n        grouped[row[\"pipeline\"]].append(row)\n\n    summary = {}\n\n    for pipeline, rows in grouped.items():\n        metric_totals = defaultdict(list)\n        latencies = []\n\n        for row in rows:\n            latency = row.get(\"metadata\", {}).get(\"latency_ms\")\n            if latency is not None:\n                latencies.append(latency)\n\n            for metric_name, metric_data in row[\"scores\"].items():\n                metric_totals[metric_name].append(metric_data[\"score\"])\n\n        summary[pipeline] = {\n            \"cases\": len(rows),\n            \"avg_latency_ms\": sum(latencies) / len(latencies) if latencies else None,\n            \"metrics\": {\n                name: sum(values) / len(values)\n                for name, values in metric_totals.items()\n            },\n        }\n\n    print(json.dumps(summary, indent=2))\n    return summary\n\n\nif __name__ == \"__main__\":\n    summarize()\n```\n\nExample output:\n\n```json\n{\n  \"n8n\": {\n    \"cases\": 50,\n    \"avg_latency_ms\": 2400,\n    \"metrics\": {\n      \"AnswerRelevancyMetric\": 0.84,\n      \"FaithfulnessMetric\": 0.79,\n      \"ContextualRelevancyMetric\": 0.81\n    }\n  },\n  \"langflow\": {\n    \"cases\": 50,\n    \"avg_latency_ms\": 2100,\n    \"metrics\": {\n      \"AnswerRelevancyMetric\": 0.87,\n      \"FaithfulnessMetric\": 0.86,\n      \"ContextualRelevancyMetric\": 0.88\n    }\n  }\n}\n```\n\nThis is where the comparison becomes useful.\n\n---\n\n## Step 7: Categorize Failures\n\nAggregate scores are not enough. You need to inspect failures.\n\nCommon RAG failure types:\n\n- `retrieval_miss`: required document was not retrieved\n- `retrieval_noise`: irrelevant chunks crowded out useful context\n- `unsupported_claim`: answer says something not in context\n- `incomplete_answer`: answer is partially correct\n- `wrong_version`: answer used outdated document\n- `refusal_failure`: system answered when it should have said it does not know\n- `format_failure`: output did not match required schema\n\nAdd a manual or LLM-assisted failure label to failed cases. Over time, this will tell you where to improve.\n\nExample:\n\n```json\n{\n  \"case_id\": \"case_003\",\n  \"pipeline\": \"n8n\",\n  \"failure_type\": \"refusal_failure\",\n  \"notes\": \"The answer invented a contractor exception not present in the policy.\"\n}\n```\n\nIf LangFlow has better contextual relevancy, tune n8n’s retriever. If n8n has better negative-case behavior, inspect its prompt or guardrail steps and port them to LangFlow.\n\n---\n\n## Step 8: Add CI Quality Gates\n\nRAG evaluation should run on every meaningful change:\n\n- Prompt updates\n- Chunking changes\n- Model changes\n- Embedding model changes\n- Vector database rebuilds\n- Document updates\n- Workflow edits\n\nA simple gate:\n\n```python\nimport json\nimport sys\n\nTHRESHOLDS = {\n    \"FaithfulnessMetric\": 0.82,\n    \"AnswerRelevancyMetric\": 0.80,\n    \"ContextualRelevancyMetric\": 0.75,\n}\n\nsummary = json.load(open(\"reports/summary.json\", \"r\", encoding=\"utf-8\"))\nfailed = False\n\nfor pipeline, data in summary.items():\n    for metric, minimum in THRESHOLDS.items():\n        score = data[\"metrics\"].get(metric, 0)\n        if score < minimum:\n            print(f\"FAIL {pipeline}: {metric}={score:.2f} < {minimum}\")\n            failed = True\n\nsys.exit(1 if failed else 0)\n```\n\nIn GitHub Actions, that might look like:\n\n```yaml\nname: rag-eval\non: [pull_request]\n\njobs:\n  eval:\n    runs-on: ubuntu-latest\n    steps:\n      - uses: actions/checkout@v4\n      - uses: actions/setup-python@v5\n        with:\n          python-version: '3.11'\n      - run: pip install -r requirements.txt\n      - run: python harness/runner.py\n        env:\n          N8N_WEBHOOK_URL: ${{ secrets.N8N_WEBHOOK_URL }}\n          LANGFLOW_API_URL: ${{ secrets.LANGFLOW_API_URL }}\n      - run: python harness/report.py > reports/summary.json\n      - run: python harness/gate.py\n```\n\nNow RAG quality becomes part of your deployment process.\n\n---\n\n## n8n vs LangFlow: What to Look For\n\nWhen comparing results, avoid simplistic conclusions. Look for patterns.\n\nn8n may be stronger when:\n\n- RAG is embedded in business processes\n- You need many SaaS integrations\n- You want approval steps or notifications\n- You need workflow-level branching and retries\n\nLangFlow may be stronger when:\n\n- You are experimenting with chain design\n- You want visual prompt and retriever tuning\n- You need fast iteration on LLM components\n- Your team thinks in LangChain-style building blocks\n\nEvaluation should measure the full behavior that matters to your product.\n\n---\n\n## Best Practices\n\n1. **Use the same corpus for both pipelines.** Otherwise the comparison is not fair.\n2. **Normalize outputs.** Always return answer, contexts, sources, and metadata.\n3. **Evaluate retrieval separately.** Bad retrieval cannot be fully fixed by generation.\n4. **Include negative cases.** These catch hallucinations and unsafe answering.\n5. **Version prompts and datasets.** Evaluation without versioning is hard to reproduce.\n6. **Track latency and cost.** Quality is only one production dimension.\n7. **Store traces.** You need retrieved chunks to debug failures.\n8. **Use human review for high-risk domains.** LLM judges are useful, not infallible.\n9. **Run regression tests continuously.** RAG behavior changes as documents and configs change.\n\n---\n\n## Final Thoughts\n\nVisual builders like n8n and LangFlow make RAG development faster, but they do not remove the need for engineering discipline. If anything, fast iteration makes evaluation more important.\n\nA solid QA approach looks like this:\n\n- Use MCP or API wrappers to expose consistent pipeline interfaces.\n- Use DeepEval to score semantic quality.\n- Use an AI Harness to run repeatable tests and compare results.\n- Use CI gates to prevent regressions.\n\nDo not ask, “Does the chatbot answer?”\n\nAsk:\n\n- Is the answer relevant?\n- Is it faithful?\n- Did we retrieve the right context?\n- Can it safely say it does not know?\n- Did quality improve or regress after the latest change?\n\nThat is how you move from RAG prototype to RAG system."
          }
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "output": {
            "linkedinPost": "RAG demos are easy. Trustworthy RAG systems are hard.\n\nOne pattern I’m seeing more teams adopt is a multi-agent QA system that continuously validates retrieval-augmented generation outputs before they reach users—or before they silently degrade in production.\n\nA practical stack for this looks like:\n\n• MCP (Model Context Protocol) to standardize access to tools, documents, vector stores, test datasets, and observability services\n• LangChain to orchestrate specialist agents and retrieval workflows\n• n8n to automate evaluation pipelines, regression checks, approvals, and alerts\n• DeepEval to measure answer relevancy, faithfulness, contextual precision/recall, bias, toxicity, and custom criteria\n• LLM-as-a-judge evaluation to review nuanced qualities like completeness, tone, policy compliance, and reasoning quality\n\nThe key idea is to stop treating evaluation as a one-time notebook exercise.\n\nInstead, create a QA loop:\n\n1. A user query or golden test case enters the system\n2. A retrieval agent collects candidate context\n3. A generation agent produces the answer\n4. A critique agent checks grounding and identifies missing evidence\n5. DeepEval runs deterministic and LLM-based metrics\n6. n8n records results, compares them to thresholds, and triggers Slack/Jira/GitHub actions\n7. Failing examples are routed back into the prompt, retrieval, chunking, or dataset improvement workflow\n\nThis creates an evaluation layer that is continuous, automated, and explainable.\n\nThe most valuable metrics are usually not generic accuracy scores. For RAG, I care about:\n\n• Faithfulness: Is the answer supported by retrieved context?\n• Answer relevancy: Did it actually answer the question?\n• Contextual recall: Did retrieval find the necessary evidence?\n• Contextual precision: Was the retrieved context useful or noisy?\n• Hallucination risk: Did the model invent claims?\n• Task-specific rubric score: Does the answer meet product expectations?\n\nThe multi-agent approach helps because each agent can focus on a narrow role: retrieve, answer, critique, judge, route, and report. MCP makes these tools discoverable and reusable. n8n turns the process into an operational workflow instead of a local script.\n\nIf you’re building production RAG, evals should be part of your release pipeline—not an afterthought.\n\nThe future of reliable AI apps is not just better models. It’s better systems around the models.\n\n#AI #RAG #LangChain #MCP #n8n #DeepEval #LLMOps #AIEvaluation #GenerativeAI #SoftwareEngineering #MachineLearning",
            "mediumArticle": "# Building a Multi-Agent QA System with MCP, LangChain, and n8n to Validate RAG Outputs Using DeepEval and LLM Eval\n\nRetrieval-augmented generation has become the default architecture for building AI applications over private data. Whether you are building a support assistant, internal knowledge bot, legal research tool, product documentation copilot, or enterprise search experience, RAG gives large language models access to information that was not present in their training data.\n\nBut RAG introduces a difficult question: how do you know the answer is correct?\n\nA model can retrieve irrelevant chunks, ignore important context, summarize incorrectly, cite nonexistent evidence, or generate an answer that sounds confident but is unsupported. In a demo, this might be acceptable. In production, it is a reliability problem.\n\nThis article walks through a practical architecture for building a multi-agent QA system that validates RAG outputs using MCP, LangChain, n8n, DeepEval, and LLM-as-a-judge evaluation.\n\nWe will cover:\n\n- Why RAG needs continuous evaluation\n- How a multi-agent QA architecture works\n- How MCP helps standardize tool and context access\n- How to use LangChain to orchestrate agents\n- How to use DeepEval for RAG metrics\n- How to use n8n for automation and governance\n- Code examples and best practices\n\n---\n\n## 1. The Problem: RAG Quality Is Not One Metric\n\nTraditional software systems can often be tested with deterministic assertions:\n\n```python\nassert add(2, 2) == 4\n```\n\nRAG systems are different. A good answer depends on multiple components working together:\n\n1. Query understanding\n2. Retrieval quality\n3. Chunking strategy\n4. Embedding model quality\n5. Ranking and reranking\n6. Prompt construction\n7. LLM generation\n8. Citation and grounding\n9. Safety and policy compliance\n10. User intent fulfillment\n\nIf the final answer is poor, the failure may have occurred anywhere in the pipeline.\n\nFor example:\n\n- The retriever may not find the correct policy document.\n- The vector store may return stale content.\n- The generator may ignore the retrieved evidence.\n- The prompt may ask for citations but not enforce them.\n- The model may answer from prior knowledge instead of supplied context.\n\nThis is why RAG evaluation should be decomposed into multiple checks.\n\n---\n\n## 2. Core Metrics for RAG Evaluation\n\nA robust RAG QA system should measure more than generic “accuracy.” The most useful metrics include:\n\n### Faithfulness\nDoes the generated answer stay grounded in the retrieved context?\n\nA faithful answer does not introduce unsupported claims.\n\n### Answer Relevancy\nDoes the answer directly address the user’s question?\n\nAn answer can be factually grounded but still irrelevant if it avoids the actual question.\n\n### Contextual Precision\nWere the retrieved chunks useful?\n\nHigh contextual precision means the retriever returned mostly relevant evidence.\n\n### Contextual Recall\nDid retrieval capture all required information?\n\nLow recall often causes incomplete or misleading answers.\n\n### Hallucination\nDid the model invent details not present in the context?\n\n### Rubric-Based Quality\nDoes the answer satisfy your product-specific expectations?\n\nFor example, a customer support answer may need to be empathetic, concise, policy-compliant, and include escalation instructions.\n\n---\n\n## 3. Architecture Overview\n\nThe system we will build contains five major layers:\n\n1. **RAG Application Layer** — the actual retrieval and answer-generation pipeline.\n2. **Multi-Agent QA Layer** — agents that retrieve, answer, critique, judge, and route failures.\n3. **MCP Tool Layer** — standardized access to vector stores, documents, datasets, logs, and evaluation tools.\n4. **Evaluation Layer** — DeepEval metrics and LLM-as-a-judge rubrics.\n5. **Automation Layer** — n8n workflows for scheduled evals, alerts, approvals, and regression tracking.\n\nA typical flow:\n\n```text\nGolden test case or production sample\n        ↓\nRetrieval Agent\n        ↓\nGeneration Agent\n        ↓\nCritique Agent\n        ↓\nDeepEval Metrics + LLM Judge\n        ↓\nn8n Workflow\n        ↓\nDashboard / Slack / Jira / GitHub Issue / Deployment Gate\n```\n\n---\n\n## 4. Why Use a Multi-Agent QA System?\n\nA single chain can evaluate an answer, but multi-agent design gives you separation of responsibilities.\n\nExample agents:\n\n### Retrieval Agent\nResponsible for fetching context from vector databases, knowledge bases, APIs, or files.\n\n### Answer Agent\nGenerates the final response using retrieved context.\n\n### Critique Agent\nLooks for unsupported claims, missing evidence, ambiguous wording, and citation problems.\n\n### Evaluation Agent\nRuns DeepEval metrics and rubric-based LLM evaluations.\n\n### Routing Agent\nDecides whether the result passes, needs review, should create an issue, or should block deployment.\n\nThis makes debugging easier. If faithfulness fails but contextual recall passes, the generator is likely the problem. If contextual recall fails, retrieval needs attention.\n\n---\n\n## 5. Where MCP Fits\n\nMCP, or Model Context Protocol, is designed to standardize how AI applications connect to external tools and context sources.\n\nIn a QA system, MCP can expose:\n\n- Vector search tools\n- Document repositories\n- Golden evaluation datasets\n- Prompt registries\n- Trace logs\n- Evaluation result stores\n- Ticketing systems\n- CI/CD status checks\n\nInstead of hardcoding every integration into your LangChain app, you can expose capabilities through MCP servers. Agents can discover and use tools through a consistent protocol.\n\nConceptually:\n\n```text\nLangChain Agent\n   ↕\nMCP Client\n   ↕\nMCP Servers\n   ├── vector-search\n   ├── eval-dataset\n   ├── deepeval-runner\n   ├── observability\n   └── issue-tracker\n```\n\nThis helps teams avoid brittle one-off integrations.\n\n---\n\n## 6. Project Structure\n\nA simple project layout:\n\n```text\nrag-qa-system/\n  app/\n    rag_chain.py\n    agents.py\n    evaluator.py\n    mcp_client.py\n  evals/\n    golden_set.json\n    rubrics.yaml\n  workflows/\n    n8n_rag_eval_workflow.json\n  tests/\n    test_rag_quality.py\n  requirements.txt\n  .env\n```\n\nInstall dependencies:\n\n```bash\npip install langchain langchain-openai deepeval chromadb python-dotenv pydantic\n```\n\nYou may also use Qdrant, Weaviate, Pinecone, Elasticsearch, or PostgreSQL with pgvector.\n\n---\n\n## 7. Creating a Basic RAG Chain with LangChain\n\nBelow is a simplified RAG pipeline.\n\n```python\nfrom langchain_openai import ChatOpenAI, OpenAIEmbeddings\nfrom langchain_chroma import Chroma\nfrom langchain.prompts import ChatPromptTemplate\nfrom langchain.schema.runnable import RunnablePassthrough\nfrom langchain.schema.output_parser import StrOutputParser\n\nembeddings = OpenAIEmbeddings(model=\"text-embedding-3-small\")\n\nvectorstore = Chroma(\n    collection_name=\"docs\",\n    embedding_function=embeddings,\n    persist_directory=\"./chroma_db\"\n)\n\nretriever = vectorstore.as_retriever(search_kwargs={\"k\": 5})\n\nprompt = ChatPromptTemplate.from_template(\"\"\"\nYou are a precise assistant. Answer the question using only the provided context.\nIf the answer is not in the context, say you do not know.\n\nContext:\n{context}\n\nQuestion:\n{question}\n\nAnswer with citations when possible.\n\"\"\")\n\nllm = ChatOpenAI(model=\"gpt-4o-mini\", temperature=0)\n\ndef format_docs(docs):\n    return \"\\n\\n\".join([d.page_content for d in docs])\n\nrag_chain = (\n    {\n        \"context\": retriever | format_docs,\n        \"question\": RunnablePassthrough()\n    }\n    | prompt\n    | llm\n    | StrOutputParser()\n)\n\nanswer = rag_chain.invoke(\"What is our refund policy for annual plans?\")\nprint(answer)\n```\n\nThis is useful, but it does not tell us whether the answer is good.\n\n---\n\n## 8. Capturing Retrieval Context\n\nFor evaluation, we need the input, output, and retrieved context.\n\n```python\ndef run_rag(question: str):\n    docs = retriever.invoke(question)\n    context = [doc.page_content for doc in docs]\n\n    formatted_context = \"\\n\\n\".join(context)\n    response = (prompt | llm | StrOutputParser()).invoke({\n        \"context\": formatted_context,\n        \"question\": question\n    })\n\n    return {\n        \"question\": question,\n        \"answer\": response,\n        \"context\": context,\n        \"sources\": [doc.metadata for doc in docs]\n    }\n```\n\nThis structure is exactly what evaluation frameworks need.\n\n---\n\n## 9. Evaluating RAG with DeepEval\n\nDeepEval is an open-source evaluation framework for LLM applications. It includes metrics for RAG quality, hallucination, bias, toxicity, summarization, and custom GEval rubrics.\n\nExample:\n\n```python\nfrom deepeval import evaluate\nfrom deepeval.test_case import LLMTestCase\nfrom deepeval.metrics import (\n    AnswerRelevancyMetric,\n    FaithfulnessMetric,\n    ContextualPrecisionMetric,\n    ContextualRecallMetric\n)\n\nresult = run_rag(\"What is our refund policy for annual plans?\")\n\ncase = LLMTestCase(\n    input=result[\"question\"],\n    actual_output=result[\"answer\"],\n    retrieval_context=result[\"context\"],\n    expected_output=\"Annual plans are refundable within 30 days if usage is below the stated threshold.\"\n)\n\nmetrics = [\n    AnswerRelevancyMetric(threshold=0.8),\n    FaithfulnessMetric(threshold=0.85),\n    ContextualPrecisionMetric(threshold=0.7),\n    ContextualRecallMetric(threshold=0.7),\n]\n\nevaluate([case], metrics)\n```\n\nThis gives you metric-level visibility into what failed.\n\n---\n\n## 10. Adding a Custom LLM Judge with GEval\n\nSome quality dimensions are product-specific. For those, use rubric-based evaluation.\n\n```python\nfrom deepeval.metrics import GEval\nfrom deepeval.test_case import LLMTestCaseParams\n\nsupport_quality = GEval(\n    name=\"Support Answer Quality\",\n    criteria=\"\"\"\n    Evaluate whether the answer is helpful, concise, empathetic, policy-compliant,\n    and includes escalation instructions when the answer is uncertain.\n    Penalize unsupported claims and overly vague responses.\n    \"\"\",\n    evaluation_params=[\n        LLMTestCaseParams.INPUT,\n        LLMTestCaseParams.ACTUAL_OUTPUT,\n        LLMTestCaseParams.RETRIEVAL_CONTEXT\n    ],\n    threshold=0.8\n)\n```\n\nRubrics are powerful, but they should be written carefully. Avoid vague instructions like “judge if this is good.” Define observable criteria.\n\n---\n\n## 11. Building LangChain Agents\n\nNow let’s represent the QA pipeline as specialist agents.\n\n```python\nfrom pydantic import BaseModel, Field\nfrom typing import List, Dict, Any\n\nclass RagRun(BaseModel):\n    question: str\n    answer: str\n    context: List[str]\n    sources: List[Dict[str, Any]] = Field(default_factory=list)\n\nclass EvalReport(BaseModel):\n    passed: bool\n    scores: Dict[str, float]\n    failures: List[str]\n    recommendation: str\n```\n\nA retrieval/generation function:\n\n```python\ndef answer_agent(question: str) -> RagRun:\n    result = run_rag(question)\n    return RagRun(**result)\n```\n\nA critique agent:\n\n```python\ncritique_prompt = ChatPromptTemplate.from_template(\"\"\"\nYou are a strict QA reviewer for a RAG system.\n\nQuestion:\n{question}\n\nAnswer:\n{answer}\n\nContext:\n{context}\n\nIdentify:\n1. Unsupported claims\n2. Missing evidence\n3. Ambiguous wording\n4. Citation issues\n5. Whether the answer should be blocked\n\nReturn concise bullet points.\n\"\"\")\n\ncritique_chain = critique_prompt | llm | StrOutputParser()\n\ndef critique_agent(run: RagRun) -> str:\n    return critique_chain.invoke({\n        \"question\": run.question,\n        \"answer\": run.answer,\n        \"context\": \"\\n\\n\".join(run.context)\n    })\n```\n\nThe evaluation agent:\n\n```python\ndef evaluation_agent(run: RagRun, expected_output: str | None = None):\n    test_case = LLMTestCase(\n        input=run.question,\n        actual_output=run.answer,\n        expected_output=expected_output,\n        retrieval_context=run.context\n    )\n\n    metrics = [\n        AnswerRelevancyMetric(threshold=0.8),\n        FaithfulnessMetric(threshold=0.85),\n        ContextualPrecisionMetric(threshold=0.7),\n        ContextualRecallMetric(threshold=0.7),\n        support_quality\n    ]\n\n    evaluation = evaluate([test_case], metrics)\n    return evaluation\n```\n\nIn real systems, you may persist raw scores in PostgreSQL, BigQuery, or an observability platform.\n\n---\n\n## 12. Routing Results\n\nA routing agent determines what happens next.\n\n```python\ndef route_result(scores: dict, critique: str) -> str:\n    if scores.get(\"faithfulness\", 1) < 0.85:\n        return \"block_release\"\n    if scores.get(\"answer_relevancy\", 1) < 0.8:\n        return \"create_ticket\"\n    if \"unsupported\" in critique.lower():\n        return \"human_review\"\n    return \"pass\"\n```\n\nThis routing logic can be deterministic, LLM-assisted, or both. For critical workflows, prefer deterministic gates for safety-critical metrics.\n\n---\n\n## 13. Automating with n8n\n\nn8n is useful because it turns the QA process into an operational workflow.\n\nExample workflow:\n\n1. Cron trigger runs nightly.\n2. HTTP Request node calls `/run-evals` endpoint.\n3. Function node parses metric scores.\n4. IF node checks thresholds.\n5. Slack node posts failures.\n6. GitHub node creates an issue for regressions.\n7. Notion/Postgres node stores results.\n8. Optional CI node blocks deployment.\n\nA minimal FastAPI endpoint:\n\n```python\nfrom fastapi import FastAPI\n\napp = FastAPI()\n\n@app.post(\"/run-evals\")\ndef run_evals():\n    dataset = load_golden_set(\"evals/golden_set.json\")\n    reports = []\n\n    for item in dataset:\n        run = answer_agent(item[\"question\"])\n        critique = critique_agent(run)\n        eval_result = evaluation_agent(run, item.get(\"expected_output\"))\n        reports.append({\n            \"question\": item[\"question\"],\n            \"answer\": run.answer,\n            \"critique\": critique,\n            \"eval\": str(eval_result)\n        })\n\n    return {\"reports\": reports}\n```\n\nn8n can call this endpoint on a schedule or during CI/CD.\n\n---\n\n## 14. Designing a Golden Dataset\n\nYour evaluation system is only as good as your test cases.\n\nA golden dataset should include:\n\n- Common user questions\n- Edge cases\n- Ambiguous questions\n- Questions requiring refusal\n- Questions with no answer in the knowledge base\n- Multi-hop questions\n- Recently changed policy questions\n- High-risk compliance questions\n\nExample:\n\n```json\n[\n  {\n    \"id\": \"refund_001\",\n    \"question\": \"Can I get a refund for an annual plan after 20 days?\",\n    \"expected_output\": \"Annual plan refunds are available within 30 days if eligibility conditions are met.\",\n    \"tags\": [\"billing\", \"refund\", \"high_priority\"]\n  },\n  {\n    \"id\": \"unknown_001\",\n    \"question\": \"Does the company offer lifetime enterprise licenses?\",\n    \"expected_output\": \"The assistant should say it does not know if this is not present in the context.\",\n    \"tags\": [\"unknown\", \"refusal\"]\n  }\n]\n```\n\nStart with 30 to 50 high-value cases. Expand using production logs.\n\n---\n\n## 15. MCP-Based Tool Access\n\nAlthough implementations vary, the pattern is straightforward: expose evaluation and retrieval capabilities as tools.\n\nExample tool capabilities:\n\n```json\n{\n  \"tools\": [\n    {\n      \"name\": \"search_docs\",\n      \"description\": \"Search product documentation and return relevant chunks.\"\n    },\n    {\n      \"name\": \"get_golden_cases\",\n      \"description\": \"Return RAG evaluation test cases by tag or priority.\"\n    },\n    {\n      \"name\": \"store_eval_result\",\n      \"description\": \"Persist evaluation scores and metadata.\"\n    },\n    {\n      \"name\": \"create_regression_ticket\",\n      \"description\": \"Create an issue for failed RAG evaluations.\"\n    }\n  ]\n}\n```\n\nThe advantage is consistency. Agents do not need to know whether documents live in Chroma, Qdrant, S3, Confluence, or GitHub. They call a tool.\n\n---\n\n## 16. Best Practices\n\n### Use deterministic thresholds for release gates\n\nDo not rely entirely on free-form LLM judgment. Use metric thresholds for faithfulness, relevancy, and retrieval quality.\n\n### Version everything\n\nVersion prompts, datasets, embedding models, chunking strategies, and evaluation rubrics.\n\n### Evaluate retrieval separately from generation\n\nIf retrieval fails, generation cannot reliably succeed.\n\n### Track trends, not only single runs\n\nLLM evaluations can have variance. Look for regressions across batches.\n\n### Include negative tests\n\nYour system should know when to say “I don’t know.”\n\n### Store raw evidence\n\nSave the question, answer, retrieved context, model version, prompt version, scores, and critique.\n\n### Human review for high-risk failures\n\nFor legal, healthcare, finance, or security workflows, route failures to humans.\n\n---\n\n## 17. Common Failure Modes\n\n### High answer relevancy, low faithfulness\n\nThe answer sounds helpful but is not grounded. Tighten the prompt and add citation checks.\n\n### Low contextual recall\n\nThe retriever cannot find the right evidence. Revisit chunking, embeddings, metadata filters, and hybrid search.\n\n### High contextual precision, incomplete answer\n\nThe context is relevant but missing details. Increase k, improve document coverage, or add reranking.\n\n### Passing metrics, poor product experience\n\nAdd task-specific rubric evaluation.\n\n---\n\n## 18. Production Deployment Pattern\n\nA mature setup usually includes:\n\n- Pre-merge evals on prompt and retrieval changes\n- Nightly regression suites\n- Production sample evaluation\n- Alerting on score drops\n- Human review queue\n- Dataset enrichment from failures\n- Dashboards by tag, document source, and model version\n\nThis transforms evaluation from a notebook into an engineering practice.\n\n---\n\n## Conclusion\n\nBuilding reliable RAG applications requires more than connecting a vector database to an LLM. You need a quality system around the model.\n\nMCP standardizes access to tools and context. LangChain orchestrates retrieval, generation, critique, and evaluation agents. DeepEval provides measurable RAG metrics and custom rubrics. n8n operationalizes the workflow with scheduling, alerting, issue creation, and deployment gates.\n\nThe result is a multi-agent QA system that continuously validates RAG outputs, detects regressions, and helps teams improve their AI products with confidence.\n\nThe best RAG systems are not just powerful. They are observable, testable, and accountable.",
            "igScript": "POV: your RAG chatbot gives confident answers… but you have no idea if they’re actually true. 😬\n\nHere’s the fix: build a multi-agent QA system.\n\nInstead of one AI chain doing everything, split the job:\n\nOne agent retrieves context.\nOne agent writes the answer.\nOne agent critiques it.\nOne agent evaluates it.\nOne workflow decides what happens next.\n\nUse LangChain for orchestration, MCP to connect tools and data sources, DeepEval to score things like faithfulness and relevancy, and n8n to automate the whole process.\n\nYour QA loop should ask:\n\nDid we retrieve the right context?\nIs the answer grounded?\nDid it hallucinate?\nWould this pass our product standards?\nShould we alert someone or block a release?\n\nRAG quality is not a vibe. It needs evals, thresholds, and feedback loops.\n\nIf you’re building AI apps, don’t just ship the bot. Ship the evaluation system too.",
            "ytScript": "Title: Building a Multi-Agent QA System for RAG with MCP, LangChain, n8n, DeepEval, and LLM Eval\n\nINTRO\n\nHey everyone, welcome back. Today we’re talking about one of the biggest problems in production AI apps: how do you know your RAG system is actually giving good answers?\n\nRAG, or retrieval-augmented generation, is incredibly useful. You take a user question, retrieve relevant documents, pass them to a language model, and generate an answer. Simple enough.\n\nBut here’s the problem: a RAG system can fail in several ways. It might retrieve the wrong documents. It might retrieve the right documents but ignore them. It might hallucinate. It might answer confidently when the correct behavior is to say, “I don’t know.”\n\nSo in this video, we’re going to design a multi-agent QA system that validates RAG outputs using MCP, LangChain, n8n, DeepEval, and LLM-as-a-judge evaluation.\n\nBy the end, you’ll understand the architecture, the agents involved, the metrics that matter, and how to automate this in a real workflow.\n\nSECTION 1: WHY RAG NEEDS EVALUATION\n\nA lot of teams start with a basic RAG pipeline. They connect a vector database, write a prompt, call an LLM, and ship a chatbot. That works for demos, but production is different.\n\nIn production, your documents change. Your prompts change. Your model provider may update behavior. Your embedding model might change. Your chunking strategy might improve one query and break another.\n\nThat means RAG quality is not static. You need continuous evaluation.\n\nAnd the key point is this: RAG quality is not one score. You need to evaluate retrieval and generation separately.\n\nFor retrieval, ask: did we fetch the right context? Was the context complete? Was it noisy?\n\nFor generation, ask: did the model answer the question? Was the answer grounded in the context? Did it hallucinate? Did it follow policy?\n\nSECTION 2: THE MULTI-AGENT ARCHITECTURE\n\nHere’s the architecture I recommend.\n\nFirst, you have a Retrieval Agent. Its job is to search your vector database, knowledge base, documentation, or APIs and return relevant context.\n\nSecond, you have an Answer Agent. This agent takes the question and retrieved context and generates the answer.\n\nThird, you have a Critique Agent. This agent reviews the answer and looks for unsupported claims, missing citations, vague wording, or missing information.\n\nFourth, you have an Evaluation Agent. This agent runs metrics using DeepEval and LLM-based evaluation.\n\nFinally, you have a Routing Agent. This decides what happens next. Does the answer pass? Should it go to human review? Should n8n create a Jira ticket? Should a deployment be blocked?\n\nThis works well because each agent has a narrow responsibility. It also makes debugging much easier. If contextual recall fails, your retriever is probably the issue. If faithfulness fails, your generator is probably ignoring the context.\n\nSECTION 3: WHERE MCP FITS\n\nMCP, or Model Context Protocol, gives us a standardized way for AI systems to access external tools and context.\n\nIn this setup, MCP can expose tools like document search, golden test case retrieval, evaluation result storage, prompt registry access, issue creation, and observability logs.\n\nInstead of hardcoding every integration inside your LangChain application, agents can access tools through MCP servers.\n\nFor example, your LangChain agent could call a search_docs tool, a get_eval_cases tool, a store_eval_result tool, or a create_regression_ticket tool. The agent doesn’t need to know whether the data lives in Chroma, Qdrant, Notion, GitHub, or Postgres. It just calls the tool.\n\nSECTION 4: USING LANGCHAIN\n\nLangChain is useful here because it gives us composable building blocks for chains, retrievers, prompts, and agents.\n\nA simple RAG chain looks like this: retrieve documents, format the context, inject it into a prompt, call the model, and parse the output.\n\nBut for evaluation, don’t just return the answer. Return the question, answer, retrieved context, source metadata, model version, and prompt version.\n\nThat record becomes your evaluation artifact.\n\nA simplified Python flow would be:\n\nRetrieve documents for the question.\nGenerate the answer using only those documents.\nSend the question, answer, and context to DeepEval.\nAsk a critique model to identify unsupported claims.\nPersist all scores and failures.\n\nSECTION 5: DEEPEVAL METRICS\n\nDeepEval gives us several useful metrics for RAG.\n\nAnswer relevancy checks whether the output actually answers the question.\n\nFaithfulness checks whether the answer is supported by the retrieved context.\n\nContextual precision checks whether the retrieved chunks were relevant.\n\nContextual recall checks whether the retriever found the information needed to answer.\n\nYou can also use GEval for custom rubric-based scoring. For example, if you’re building a support assistant, your rubric might say: the answer should be concise, empathetic, policy-compliant, grounded in context, and include escalation steps when uncertain.\n\nThat gives you a product-specific quality score instead of a generic AI benchmark.\n\nSECTION 6: AUTOMATING WITH N8N\n\nNow let’s operationalize it.\n\nn8n is great for connecting this evaluation system to your actual engineering workflow.\n\nYou can create a workflow that starts with a Cron trigger every night. It calls your evaluation API. It parses the returned scores. If everything passes, it stores the results. If something fails, it sends a Slack alert, creates a GitHub issue, or blocks a deployment.\n\nYou can also trigger the workflow from CI whenever someone changes prompts, retrieval settings, chunking logic, or model configuration.\n\nThis is where evaluation becomes real. It’s no longer a notebook someone runs manually. It becomes part of your release process.\n\nSECTION 7: BEST PRACTICES\n\nHere are a few best practices.\n\nFirst, build a golden dataset. Include common questions, edge cases, unknown-answer questions, compliance-sensitive questions, and recently changed policy questions.\n\nSecond, version everything: prompts, datasets, model names, embedding models, chunking settings, and rubrics.\n\nThird, use thresholds. For example, faithfulness must be above 0.85 and answer relevancy must be above 0.8.\n\nFourth, store raw evidence. Save the input, output, retrieved chunks, scores, and critique.\n\nFifth, keep humans in the loop for high-risk domains like healthcare, legal, finance, or security.\n\nOUTRO\n\nSo that’s the full picture: MCP for standardized tool access, LangChain for orchestration, DeepEval for RAG metrics, LLM eval for nuanced rubrics, and n8n for automation.\n\nThe main takeaway is this: don’t just build a RAG app. Build the system that validates the RAG app.\n\nReliable AI comes from evaluation, observability, and feedback loops.\n\nIf this was helpful, like the video, subscribe for more AI engineering content, and let me know in the comments if you want a hands-on implementation walkthrough. Thanks for watching, and I’ll see you in the next one.",
            "devtoArticle": "# Building a Multi-Agent QA System for RAG with MCP, LangChain, n8n, DeepEval, and LLM Eval\n\nRAG applications are easy to prototype and surprisingly hard to trust.\n\nA typical RAG app retrieves chunks from a vector database, passes them to an LLM, and returns an answer. That architecture works well until the assistant retrieves the wrong context, hallucinates a policy, misses a critical document, or answers a question it should have refused.\n\nIn this article, we’ll build a practical QA architecture for validating RAG outputs using:\n\n- **LangChain** for orchestration\n- **MCP** for standardized tool/context access\n- **DeepEval** for RAG metrics\n- **LLM eval** for custom rubric-based judging\n- **n8n** for automation, alerts, and regression workflows\n\nThe goal is not just to generate answers. The goal is to continuously test whether those answers are grounded, relevant, and production-ready.\n\n---\n\n## Architecture\n\nWe’ll use a multi-agent evaluation flow:\n\n```text\nQuestion / Golden Test Case\n        ↓\nRetrieval Agent\n        ↓\nAnswer Agent\n        ↓\nCritique Agent\n        ↓\nEvaluation Agent\n        ↓\nRouting Agent\n        ↓\nn8n automation: Slack, GitHub, Jira, DB, CI gate\n```\n\nEach agent has a focused job:\n\n- **Retrieval Agent**: fetches context\n- **Answer Agent**: generates the RAG answer\n- **Critique Agent**: detects unsupported claims and missing evidence\n- **Evaluation Agent**: runs DeepEval and LLM-as-judge metrics\n- **Routing Agent**: decides pass, fail, review, or block\n\nThis makes failures easier to debug. If retrieval recall is low, fix search. If faithfulness is low, fix prompts or generation constraints.\n\n---\n\n## Setup\n\nInstall dependencies:\n\n```bash\npip install langchain langchain-openai langchain-chroma deepeval python-dotenv pydantic fastapi uvicorn\n```\n\nCreate `.env`:\n\n```bash\nOPENAI_API_KEY=your_key_here\n```\n\nProject structure:\n\n```text\nrag-qa/\n  app.py\n  rag.py\n  evals.py\n  dataset.json\n  requirements.txt\n```\n\n---\n\n## Step 1: Build the RAG Pipeline\n\nHere’s a minimal LangChain RAG setup using Chroma.\n\n```python\n# rag.py\nfrom langchain_openai import ChatOpenAI, OpenAIEmbeddings\nfrom langchain_chroma import Chroma\nfrom langchain.prompts import ChatPromptTemplate\nfrom langchain.schema.output_parser import StrOutputParser\n\nembeddings = OpenAIEmbeddings(model=\"text-embedding-3-small\")\n\nvectorstore = Chroma(\n    collection_name=\"docs\",\n    embedding_function=embeddings,\n    persist_directory=\"./chroma_db\"\n)\n\nretriever = vectorstore.as_retriever(search_kwargs={\"k\": 5})\n\nllm = ChatOpenAI(model=\"gpt-4o-mini\", temperature=0)\n\nprompt = ChatPromptTemplate.from_template(\"\"\"\nYou are a careful assistant. Use only the context below.\nIf the answer is not present in the context, say: \"I don't know based on the provided context.\"\n\nContext:\n{context}\n\nQuestion:\n{question}\n\nAnswer:\n\"\"\")\n\ndef run_rag(question: str):\n    docs = retriever.invoke(question)\n    context = [doc.page_content for doc in docs]\n    formatted_context = \"\\n\\n\".join(context)\n\n    answer = (prompt | llm | StrOutputParser()).invoke({\n        \"question\": question,\n        \"context\": formatted_context\n    })\n\n    return {\n        \"question\": question,\n        \"answer\": answer,\n        \"context\": context,\n        \"sources\": [doc.metadata for doc in docs]\n    }\n```\n\nImportant: return the context, not just the answer. Evaluation requires the retrieved evidence.\n\n---\n\n## Step 2: Define Data Models\n\n```python\n# models.py\nfrom pydantic import BaseModel, Field\nfrom typing import List, Dict, Any, Optional\n\nclass RagRun(BaseModel):\n    question: str\n    answer: str\n    context: List[str]\n    sources: List[Dict[str, Any]] = Field(default_factory=list)\n\nclass EvalSummary(BaseModel):\n    passed: bool\n    route: str\n    critique: str\n    scores: Dict[str, float] = Field(default_factory=dict)\n    failures: List[str] = Field(default_factory=list)\n```\n\nStructured outputs make automation much easier.\n\n---\n\n## Step 3: Add a Critique Agent\n\nDeepEval gives us scores, but a critique agent gives us readable debugging information.\n\n```python\n# critique.py\nfrom langchain_openai import ChatOpenAI\nfrom langchain.prompts import ChatPromptTemplate\nfrom langchain.schema.output_parser import StrOutputParser\n\nllm = ChatOpenAI(model=\"gpt-4o-mini\", temperature=0)\n\ncritique_prompt = ChatPromptTemplate.from_template(\"\"\"\nYou are a strict QA reviewer for a RAG answer.\n\nQuestion:\n{question}\n\nAnswer:\n{answer}\n\nRetrieved Context:\n{context}\n\nCheck for:\n- Unsupported claims\n- Missing evidence\n- Incorrect assumptions\n- Missing citations\n- Cases where the assistant should say it does not know\n\nReturn a concise review and final risk level: low, medium, or high.\n\"\"\")\n\ncritique_chain = critique_prompt | llm | StrOutputParser()\n\ndef critique_answer(question: str, answer: str, context: list[str]) -> str:\n    return critique_chain.invoke({\n        \"question\": question,\n        \"answer\": answer,\n        \"context\": \"\\n\\n\".join(context)\n    })\n```\n\nThis is especially useful when sending failures to Slack or GitHub issues.\n\n---\n\n## Step 4: Evaluate with DeepEval\n\nDeepEval provides RAG-specific metrics.\n\n```python\n# evals.py\nfrom deepeval import evaluate\nfrom deepeval.test_case import LLMTestCase, LLMTestCaseParams\nfrom deepeval.metrics import (\n    AnswerRelevancyMetric,\n    FaithfulnessMetric,\n    ContextualPrecisionMetric,\n    ContextualRecallMetric,\n    GEval\n)\n\nproduct_quality = GEval(\n    name=\"Product Quality\",\n    criteria=\"\"\"\n    Score whether the answer is useful, concise, grounded in the retrieved context,\n    avoids unsupported claims, and correctly says it does not know when context is insufficient.\n    \"\"\",\n    evaluation_params=[\n        LLMTestCaseParams.INPUT,\n        LLMTestCaseParams.ACTUAL_OUTPUT,\n        LLMTestCaseParams.RETRIEVAL_CONTEXT\n    ],\n    threshold=0.8\n)\n\nmetrics = [\n    AnswerRelevancyMetric(threshold=0.8),\n    FaithfulnessMetric(threshold=0.85),\n    ContextualPrecisionMetric(threshold=0.7),\n    ContextualRecallMetric(threshold=0.7),\n    product_quality\n]\n\ndef evaluate_rag_run(run: dict, expected_output: str | None = None):\n    test_case = LLMTestCase(\n        input=run[\"question\"],\n        actual_output=run[\"answer\"],\n        expected_output=expected_output,\n        retrieval_context=run[\"context\"]\n    )\n\n    return evaluate([test_case], metrics)\n```\n\nThe most important RAG metrics are usually:\n\n- **Faithfulness**: is the answer grounded?\n- **Answer relevancy**: did it answer the question?\n- **Contextual precision**: were retrieved chunks relevant?\n- **Contextual recall**: did retrieval find the necessary evidence?\n\n---\n\n## Step 5: Create a Golden Dataset\n\nCreate `dataset.json`:\n\n```json\n[\n  {\n    \"id\": \"refund_001\",\n    \"question\": \"Can I get a refund for an annual subscription after 20 days?\",\n    \"expected_output\": \"The answer should explain the annual refund policy using only documented conditions.\",\n    \"tags\": [\"billing\", \"refund\"]\n  },\n  {\n    \"id\": \"unknown_001\",\n    \"question\": \"Do we offer lifetime enterprise licenses?\",\n    \"expected_output\": \"The assistant should say it does not know if the context does not contain this information.\",\n    \"tags\": [\"unknown\", \"refusal\"]\n  }\n]\n```\n\nYour golden dataset should include:\n\n- Common user questions\n- Edge cases\n- Questions with no answer\n- Compliance-sensitive questions\n- Multi-hop questions\n- Recently changed policies\n\nStart small. Even 30 high-quality cases can catch major regressions.\n\n---\n\n## Step 6: Add Routing Logic\n\nFor production workflows, you need clear outcomes.\n\n```python\ndef route(scores: dict, critique: str) -> str:\n    text = critique.lower()\n\n    if \"risk level: high\" in text:\n        return \"human_review\"\n\n    if scores.get(\"faithfulness\", 1.0) < 0.85:\n        return \"block_release\"\n\n    if scores.get(\"answer_relevancy\", 1.0) < 0.8:\n        return \"create_ticket\"\n\n    return \"pass\"\n```\n\nUse deterministic gates for important checks. LLM judges are useful, but they can vary. For critical systems, combine LLM evaluation with hard thresholds and human review.\n\n---\n\n## Step 7: Expose an Evaluation API\n\nn8n can trigger your eval pipeline via HTTP.\n\n```python\n# app.py\nimport json\nfrom fastapi import FastAPI\nfrom rag import run_rag\nfrom critique import critique_answer\nfrom evals import evaluate_rag_run\n\napp = FastAPI()\n\n@app.post(\"/run-evals\")\ndef run_evals():\n    with open(\"dataset.json\") as f:\n        dataset = json.load(f)\n\n    reports = []\n\n    for item in dataset:\n        run = run_rag(item[\"question\"])\n        critique = critique_answer(run[\"question\"], run[\"answer\"], run[\"context\"])\n        eval_result = evaluate_rag_run(run, item.get(\"expected_output\"))\n\n        # In production, parse metric objects into real scores.\n        reports.append({\n            \"id\": item[\"id\"],\n            \"question\": run[\"question\"],\n            \"answer\": run[\"answer\"],\n            \"sources\": run[\"sources\"],\n            \"critique\": critique,\n            \"eval_result\": str(eval_result)\n        })\n\n    return {\"reports\": reports}\n```\n\nRun it:\n\n```bash\nuvicorn app:app --reload --port 8000\n```\n\nNow n8n can call:\n\n```text\nPOST http://localhost:8000/run-evals\n```\n\n---\n\n## Step 8: Automate with n8n\n\nCreate an n8n workflow:\n\n1. **Cron Trigger**: run nightly\n2. **HTTP Request**: call `/run-evals`\n3. **Function Node**: normalize results\n4. **IF Node**: check failed cases\n5. **Slack Node**: notify the AI engineering channel\n6. **GitHub/Jira Node**: create regression tickets\n7. **Postgres/Sheets/Notion Node**: persist score history\n\nExample Slack message:\n\n```text\nRAG eval regression detected\nCase: refund_001\nRoute: block_release\nIssue: Faithfulness below threshold\nCritique: Answer includes unsupported refund condition\n```\n\nThis is where the system becomes operational. Evals should run automatically whenever prompts, models, embeddings, chunking, or retrieval logic changes.\n\n---\n\n## Where MCP Fits\n\nMCP helps you avoid hardcoding integrations into your agents.\n\nYou can expose tools such as:\n\n```json\n{\n  \"name\": \"search_docs\",\n  \"description\": \"Search the documentation vector index.\"\n}\n```\n\n```json\n{\n  \"name\": \"get_golden_eval_cases\",\n  \"description\": \"Fetch evaluation cases by tag, priority, or product area.\"\n}\n```\n\n```json\n{\n  \"name\": \"store_eval_result\",\n  \"description\": \"Persist scores, traces, prompts, and retrieved context.\"\n}\n```\n\n```json\n{\n  \"name\": \"create_regression_issue\",\n  \"description\": \"Create a GitHub or Jira issue for failed evaluations.\"\n}\n```\n\nYour LangChain agents can call these tools through an MCP client. The implementation behind the tool can change without rewriting the agent logic.\n\nThis is especially useful in teams where documents are spread across Confluence, GitHub, S3, internal APIs, and vector databases.\n\n---\n\n## Best Practices\n\n### 1. Evaluate retrieval and generation separately\n\nIf the answer fails, determine whether the retriever or generator caused the issue.\n\n### 2. Version prompts and datasets\n\nEvery evaluation result should include model version, prompt version, embedding model, dataset version, and chunking configuration.\n\n### 3. Add refusal tests\n\nA good RAG system must know when the answer is not in the context.\n\n### 4. Use trend monitoring\n\nOne failed case may be noise. A 15% drop in faithfulness across a tag is a regression.\n\n### 5. Store retrieved context\n\nWithout context, you cannot debug faithfulness failures.\n\n### 6. Use human review for high-risk outputs\n\nDo not fully automate approvals for legal, medical, financial, or security-sensitive answers.\n\n---\n\n## Common Failure Patterns\n\n### Low contextual recall\n\nThe retriever did not find the needed evidence. Fix chunking, metadata filters, embeddings, hybrid search, or reranking.\n\n### Low faithfulness\n\nThe model invented information or ignored context. Tighten the prompt, reduce temperature, require citations, or add a critique step.\n\n### Low answer relevancy\n\nThe answer is grounded but not useful. Improve query rewriting or prompt instructions.\n\n### High scores but bad UX\n\nAdd custom GEval rubrics that reflect product quality.\n\n---\n\n## Final Thoughts\n\nA production RAG system needs more than a vector database and a prompt. It needs an evaluation loop.\n\nLangChain gives you orchestration. MCP gives you standardized access to tools and context. DeepEval gives you RAG metrics. LLM eval gives you custom judgment. n8n gives you automation.\n\nTogether, they form a QA system that continuously validates RAG outputs, catches regressions, and helps your team ship AI features with more confidence.\n\nThe best AI systems are not just intelligent. They are testable."
          }
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "output": {
            "linkedinPost": "Evaluating RAG pipelines is no longer a “nice-to-have.” It is the difference between a demo that sounds impressive and an AI agent your users can trust.\n\nRetrieval-Augmented Generation has become the default architecture for enterprise AI assistants: connect a model to your documents, retrieve relevant context, generate an answer, and ship. But there is a catch: most teams evaluate the final answer manually, if they evaluate it at all.\n\nThat does not scale.\n\nA production-ready RAG system needs a QA harness: a repeatable evaluation layer that tests whether the agent retrieves the right context, answers faithfully, avoids hallucination, and behaves consistently as prompts, models, embeddings, and chunking strategies change.\n\nA practical stack for this is LangChain + DeepEval.\n\nLangChain helps you build the RAG pipeline:\n- Load documents\n- Split text into chunks\n- Create embeddings\n- Store vectors\n- Retrieve relevant context\n- Compose prompts\n- Generate answers\n\nDeepEval helps you measure the pipeline:\n- Answer relevancy\n- Faithfulness\n- Contextual precision\n- Contextual recall\n- Hallucination risk\n- Regression quality across test cases\n\nThe workflow looks like this:\n\n1. Build a representative golden dataset\nInclude real user questions, expected answers, and source documents.\n\n2. Capture intermediate RAG outputs\nDo not just evaluate the final answer. Log retrieved chunks, prompt inputs, model output, and metadata.\n\n3. Run automated metrics\nUse LLM-based evaluation and retrieval-focused metrics to identify weak points.\n\n4. Gate changes in CI/CD\nIf a new prompt, retriever setting, or model version reduces quality, block the deployment.\n\n5. Track failures by category\nWas the answer bad because retrieval failed? Because the prompt was ambiguous? Because the generator ignored context? Each failure requires a different fix.\n\nThe biggest mistake teams make is treating RAG evaluation as a one-time benchmark. In reality, it should be continuous. Your documents change. User behavior changes. Models change. Your evaluation strategy has to change with them.\n\nA QA harness gives AI teams the same engineering discipline we expect from traditional software: test cases, regression checks, observability, and release confidence.\n\nIf you are building AI agents over private knowledge, do not stop at “it works on my question.” Build the harness.\n\n#AI #RAG #LangChain #DeepEval #LLMOps #MachineLearning #GenerativeAI #SoftwareEngineering #AIAgents #DeveloperTools",
            "mediumArticle": "# Evaluating RAG Pipelines: Building an AI Agent QA Harness with LangChain and DeepEval\n\nRetrieval-Augmented Generation, or RAG, has become the default pattern for building AI applications that answer questions over private or domain-specific knowledge. Instead of relying only on a model’s parametric memory, RAG retrieves relevant documents and injects them into the prompt so the model can produce grounded answers.\n\nThe architecture sounds simple: index documents, retrieve context, ask the LLM to answer. In practice, it is a distributed system made of multiple probabilistic components. A small change to chunk size can hurt retrieval. A prompt improvement can accidentally increase hallucination. A cheaper model can answer well on easy questions and fail silently on edge cases. A new batch of documents can degrade quality because the retriever starts surfacing irrelevant but semantically similar chunks.\n\nThis is why RAG evaluation matters. A RAG pipeline is not production-ready just because it responds fluently. It is production-ready when you can measure whether it is correct, faithful, relevant, and stable over time.\n\nIn this article, we will build a practical QA harness for an AI agent using LangChain for the RAG workflow and DeepEval for evaluation. We will cover architecture, metrics, test case design, implementation, and best practices for turning RAG evaluation into a repeatable engineering process.\n\n---\n\n## Why RAG Evaluation Is Hard\n\nTraditional software testing is mostly deterministic. If you pass a known input into a function, you expect a known output. RAG systems are different.\n\nA single user question passes through several stages:\n\n1. Query normalization or rewriting\n2. Embedding generation\n3. Vector search\n4. Optional reranking\n5. Prompt construction\n6. LLM generation\n7. Post-processing or tool execution\n\nA failure at any stage can produce a bad answer. Worse, the final answer may look plausible even when it is unsupported by the retrieved context.\n\nCommon RAG failure modes include:\n\n- **Retrieval miss**: The correct document exists but is not retrieved.\n- **Retrieval noise**: The retriever returns irrelevant chunks that confuse the model.\n- **Context truncation**: The right evidence is retrieved but dropped because of token limits.\n- **Prompt leakage**: The model follows irrelevant text from retrieved documents.\n- **Hallucination**: The model invents facts not present in the context.\n- **Partial answer**: The answer is correct but incomplete.\n- **Over-refusal**: The model says it does not know even when context contains the answer.\n- **Regression**: A model, prompt, or chunking change improves one set of cases while breaking another.\n\nManual review catches some of these issues, but it does not scale. You need an automated harness that can evaluate both the final answer and the intermediate retrieval behavior.\n\n---\n\n## The QA Harness Mindset\n\nA QA harness is more than a script that calls an LLM evaluator. It is a repeatable system for validating behavior before and after changes.\n\nFor RAG, the harness should answer questions like:\n\n- Did the system retrieve the right documents?\n- Did the answer use the retrieved context faithfully?\n- Is the answer relevant to the user’s question?\n- Did the model hallucinate unsupported details?\n- Did quality improve or regress compared with the previous version?\n- Which component caused the failure: retrieval or generation?\n\nA useful harness has five parts:\n\n1. **Golden test cases**: Representative questions, expected answers, and expected source material.\n2. **Pipeline instrumentation**: Capture retrieved chunks, generated answers, prompts, and metadata.\n3. **Evaluation metrics**: Score answer quality and retrieval quality.\n4. **Regression thresholds**: Define pass/fail criteria for releases.\n5. **Failure analysis workflow**: Group failures by cause and prioritize fixes.\n\nLangChain helps us build and instrument the pipeline. DeepEval helps us evaluate it.\n\n---\n\n## Project Setup\n\nInstall the required packages:\n\n```bash\npip install langchain langchain-openai langchain-community chromadb deepeval python-dotenv\n```\n\nCreate a `.env` file:\n\n```bash\nOPENAI_API_KEY=your_api_key\n```\n\nA simple project structure might look like this:\n\n```text\nrag-qa-harness/\n  data/\n    handbook.md\n    api_docs.md\n  app/\n    ingest.py\n    rag_chain.py\n    eval_rag.py\n  tests/\n    rag_test_cases.json\n  .env\n```\n\nFor this example, assume we are building an internal assistant that answers questions about a company handbook and API documentation.\n\n---\n\n## Step 1: Build the RAG Pipeline with LangChain\n\nFirst, load and index the documents.\n\n```python\n# app/ingest.py\nfrom langchain_community.document_loaders import DirectoryLoader, TextLoader\nfrom langchain_text_splitters import RecursiveCharacterTextSplitter\nfrom langchain_openai import OpenAIEmbeddings\nfrom langchain_community.vectorstores import Chroma\n\nDATA_PATH = \"data\"\nDB_PATH = \"chroma_db\"\n\nloader = DirectoryLoader(\n    DATA_PATH,\n    glob=\"**/*.md\",\n    loader_cls=TextLoader\n)\n\ndocuments = loader.load()\n\nsplitter = RecursiveCharacterTextSplitter(\n    chunk_size=800,\n    chunk_overlap=120,\n    separators=[\"\\n\\n\", \"\\n\", \". \", \" \", \"\"]\n)\n\nchunks = splitter.split_documents(documents)\n\nembeddings = OpenAIEmbeddings(model=\"text-embedding-3-small\")\n\nvectorstore = Chroma.from_documents(\n    documents=chunks,\n    embedding=embeddings,\n    persist_directory=DB_PATH\n)\n\nprint(f\"Indexed {len(chunks)} chunks\")\n```\n\nNow define a RAG chain that returns not only the answer but also the retrieved context. This is important. If you only log the final response, you cannot tell whether an error was caused by retrieval or generation.\n\n```python\n# app/rag_chain.py\nfrom dotenv import load_dotenv\nfrom langchain_openai import ChatOpenAI, OpenAIEmbeddings\nfrom langchain_community.vectorstores import Chroma\nfrom langchain_core.prompts import ChatPromptTemplate\nfrom langchain_core.output_parsers import StrOutputParser\n\nload_dotenv()\n\nDB_PATH = \"chroma_db\"\n\nSYSTEM_PROMPT = \"\"\"\nYou are a precise AI assistant. Answer the user's question using only the provided context.\nIf the answer is not contained in the context, say: \"I don't know based on the provided documents.\"\nDo not invent facts. Include concise reasoning when helpful.\n\nContext:\n{context}\n\"\"\"\n\nprompt = ChatPromptTemplate.from_messages([\n    (\"system\", SYSTEM_PROMPT),\n    (\"human\", \"Question: {question}\")\n])\n\nllm = ChatOpenAI(model=\"gpt-4o-mini\", temperature=0)\nembeddings = OpenAIEmbeddings(model=\"text-embedding-3-small\")\nvectorstore = Chroma(\n    persist_directory=DB_PATH,\n    embedding_function=embeddings\n)\nretriever = vectorstore.as_retriever(search_kwargs={\"k\": 4})\n\n\ndef format_docs(docs):\n    return \"\\n\\n\".join(\n        f\"Source: {doc.metadata.get('source', 'unknown')}\\n{doc.page_content}\"\n        for doc in docs\n    )\n\n\ndef answer_question(question: str):\n    docs = retriever.invoke(question)\n    context = format_docs(docs)\n    chain = prompt | llm | StrOutputParser()\n    answer = chain.invoke({\"question\": question, \"context\": context})\n\n    return {\n        \"question\": question,\n        \"answer\": answer,\n        \"retrieved_context\": [doc.page_content for doc in docs],\n        \"sources\": [doc.metadata for doc in docs]\n    }\n```\n\nThis function gives the evaluation layer everything it needs: input, output, retrieved context, and metadata.\n\n---\n\n## Step 2: Create Golden Test Cases\n\nA golden dataset is the foundation of useful RAG evaluation. It should include realistic questions, expected outputs, and ideally expected context.\n\nExample test file:\n\n```json\n[\n  {\n    \"question\": \"How many days of paid vacation do full-time employees receive after one year?\",\n    \"expected_answer\": \"Full-time employees receive 15 days of paid vacation after one year of employment.\",\n    \"expected_context_keywords\": [\"15 days\", \"paid vacation\", \"one year\"]\n  },\n  {\n    \"question\": \"What authentication method does the Orders API use?\",\n    \"expected_answer\": \"The Orders API uses OAuth 2.0 bearer tokens for authentication.\",\n    \"expected_context_keywords\": [\"Orders API\", \"OAuth 2.0\", \"bearer token\"]\n  },\n  {\n    \"question\": \"Can contractors expense home office furniture?\",\n    \"expected_answer\": \"I don't know based on the provided documents.\",\n    \"expected_context_keywords\": []\n  }\n]\n```\n\nDo not limit your dataset to easy questions. Include:\n\n- Frequent user questions\n- Ambiguous questions\n- Questions requiring multi-hop reasoning\n- Questions where the answer is not in the documents\n- Questions with similar but conflicting information\n- Recently changed policy questions\n- Edge cases from production logs\n\nA small but carefully curated set of 50 cases is more valuable than 1,000 synthetic cases that do not represent real usage.\n\n---\n\n## Step 3: Evaluate with DeepEval\n\nDeepEval is an open-source evaluation framework for LLM applications. It provides metrics that are especially useful for RAG:\n\n- **Answer Relevancy**: Does the answer address the question?\n- **Faithfulness**: Is the answer supported by the retrieved context?\n- **Contextual Precision**: Are the retrieved chunks relevant?\n- **Contextual Recall**: Did the retriever capture the information needed to answer?\n- **Hallucination**: Did the response contain unsupported claims?\n\nHere is a basic evaluation script.\n\n```python\n# app/eval_rag.py\nimport json\nfrom deepeval import evaluate\nfrom deepeval.test_case import LLMTestCase\nfrom deepeval.metrics import (\n    AnswerRelevancyMetric,\n    FaithfulnessMetric,\n    ContextualPrecisionMetric,\n    ContextualRecallMetric,\n    HallucinationMetric,\n)\nfrom app.rag_chain import answer_question\n\n\ndef load_cases(path=\"tests/rag_test_cases.json\"):\n    with open(path, \"r\") as f:\n        return json.load(f)\n\n\ndef run_pipeline(case):\n    result = answer_question(case[\"question\"])\n    return LLMTestCase(\n        input=case[\"question\"],\n        actual_output=result[\"answer\"],\n        expected_output=case[\"expected_answer\"],\n        retrieval_context=result[\"retrieved_context\"],\n        context=result[\"retrieved_context\"]\n    )\n\nmetrics = [\n    AnswerRelevancyMetric(threshold=0.75),\n    FaithfulnessMetric(threshold=0.75),\n    ContextualPrecisionMetric(threshold=0.70),\n    ContextualRecallMetric(threshold=0.70),\n    HallucinationMetric(threshold=0.25),\n]\n\nif __name__ == \"__main__\":\n    cases = load_cases()\n    test_cases = [run_pipeline(case) for case in cases]\n    evaluate(test_cases=test_cases, metrics=metrics)\n```\n\nWhen you run this, DeepEval will score each test case against the selected metrics. The goal is not to worship the exact score. The goal is to identify regressions and diagnose failure modes.\n\n---\n\n## Understanding the Metrics\n\n### Answer Relevancy\n\nThis metric asks whether the answer responds to the user’s question. A fluent but off-topic response should score poorly. It is useful for identifying prompt issues and cases where irrelevant retrieved context derails generation.\n\n### Faithfulness\n\nFaithfulness measures whether the answer is grounded in the retrieved context. If the answer says, “Employees receive 20 vacation days,” but the retrieved context says 15, faithfulness should fail. This is one of the most important metrics for enterprise RAG.\n\n### Contextual Precision\n\nContextual precision evaluates whether the retrieved chunks are relevant. If your retriever returns four chunks and only one is useful, precision may be low. Poor precision can lead to longer prompts, higher cost, and confused answers.\n\n### Contextual Recall\n\nContextual recall asks whether the retrieved context contains enough information to answer correctly. If the right answer exists in the corpus but was not retrieved, recall should fail. This points to chunking, embedding, query rewriting, metadata filtering, or reranking problems.\n\n### Hallucination\n\nHallucination metrics detect unsupported claims. In a strict RAG application, unsupported claims are usually worse than “I don’t know.” You can tune thresholds depending on risk. A customer support bot may tolerate minor wording differences. A medical or legal assistant should be much stricter.\n\n---\n\n## Step 4: Add Custom Checks\n\nLLM-based metrics are powerful, but deterministic checks are still useful. For example, you may want to ensure that an answer includes required keywords or that unknown questions trigger the expected refusal.\n\n```python\ndef keyword_check(answer: str, keywords: list[str]) -> bool:\n    normalized = answer.lower()\n    return all(keyword.lower() in normalized for keyword in keywords)\n\n\ndef refusal_check(question: str, answer: str, should_refuse: bool) -> bool:\n    if not should_refuse:\n        return True\n    return \"i don't know\" in answer.lower() or \"provided documents\" in answer.lower()\n```\n\nYou can combine deterministic checks with DeepEval metrics. This is often the best approach: use exact checks for non-negotiable business rules and LLM-as-judge metrics for semantic quality.\n\n---\n\n## Step 5: Diagnose Failures\n\nA good evaluation report should help you decide what to fix.\n\nIf contextual recall is low but faithfulness is high, the model may be behaving correctly with the wrong context. Fix retrieval.\n\nIf contextual precision is high but faithfulness is low, the right information was available but the generator ignored or distorted it. Fix the prompt, model, or answer format.\n\nIf answer relevancy is low and retrieved context is noisy, tune retrieval. Consider metadata filters, hybrid search, reranking, or better chunking.\n\nIf hallucination increases after switching models, the new model may need a stricter prompt or lower temperature.\n\nThe point of the harness is not just to say pass or fail. It should show where the system failed.\n\n---\n\n## CI/CD Integration\n\nOnce evaluation works locally, add it to CI.\n\nExample GitHub Actions workflow:\n\n```yaml\nname: RAG Evaluation\n\non:\n  pull_request:\n    paths:\n      - \"app/**\"\n      - \"data/**\"\n      - \"tests/**\"\n\njobs:\n  evaluate:\n    runs-on: ubuntu-latest\n    steps:\n      - uses: actions/checkout@v4\n      - uses: actions/setup-python@v5\n        with:\n          python-version: \"3.11\"\n      - run: pip install -r requirements.txt\n      - run: python app/ingest.py\n      - run: python app/eval_rag.py\n        env:\n          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}\n```\n\nYou may not want to run a large evaluation suite on every pull request. A common pattern is:\n\n- Smoke suite on every PR: 10 to 25 critical cases\n- Full suite nightly: 100 to 1,000 cases\n- Production replay weekly: sampled anonymized real user queries\n\n---\n\n## Best Practices\n\n### Version Everything\n\nVersion prompts, models, embeddings, chunking settings, vector indexes, and datasets. If quality changes, you need to know what changed.\n\n### Evaluate Retrieval Separately\n\nDo not only score the final answer. If retrieval fails, even the best model will struggle.\n\n### Include Negative Tests\n\nYour agent should know when not to answer. Include questions that are outside the knowledge base.\n\n### Use Real Queries\n\nSynthetic questions are useful for coverage, but production logs reveal how users actually ask questions.\n\n### Track Trends, Not Just Scores\n\nA single score can be noisy. Track moving averages and regressions by category.\n\n### Keep Human Review in the Loop\n\nAutomated evaluation reduces manual work; it does not eliminate judgment. Periodically audit evaluator decisions.\n\n### Tune Thresholds by Risk\n\nA low-risk internal helper can use more permissive thresholds. A compliance assistant should be strict.\n\n---\n\n## Conclusion\n\nRAG systems need the same engineering discipline as any other production system. LangChain makes it straightforward to build and instrument the pipeline. DeepEval gives you a practical way to measure quality across answer relevancy, faithfulness, retrieval precision, retrieval recall, and hallucination.\n\nThe winning pattern is simple: create golden test cases, capture intermediate outputs, evaluate continuously, and use failures to improve the right part of the system.\n\nA RAG demo can be built in a day. A reliable RAG product requires a QA harness.",
            "igScript": "Stop trusting your RAG app just because it gives confident answers.\n\nHere’s the problem: your AI agent can sound right and still be completely wrong.\n\nIf you’re building with LangChain, you need a QA harness around your RAG pipeline.\n\nThat means testing three things:\n\nOne: did retrieval find the right chunks?\n\nTwo: did the model answer using only that context?\n\nThree: did anything regress when you changed the prompt, model, embeddings, or chunk size?\n\nThis is where DeepEval is super useful.\n\nYou can run metrics like answer relevancy, faithfulness, contextual precision, contextual recall, and hallucination detection.\n\nSo instead of manually asking, “Does this look good?”, you create test cases and run them every time your pipeline changes.\n\nLangChain builds the agent. DeepEval grades the agent.\n\nIf you want production-ready RAG, don’t just ship the chatbot.\n\nShip the evaluation harness too.",
            "ytScript": "Hey everyone, welcome back. Today we’re talking about something every AI team eventually runs into: how do you know your RAG pipeline is actually working?\n\nNot just working in the demo. Not just answering your favorite test question. I mean: how do you know it retrieves the right documents, answers faithfully, avoids hallucinations, and does not break when you change the prompt, model, chunk size, or embedding strategy?\n\nIn this video, we’re going to build the mental model for a RAG QA harness using LangChain and DeepEval.\n\nLet’s start with the problem.\n\nRAG, or Retrieval-Augmented Generation, usually looks like this: you take documents, split them into chunks, embed those chunks, store them in a vector database, retrieve the most relevant chunks for a user question, and pass those chunks into an LLM so it can generate an answer.\n\nThat architecture is powerful because the model can answer using your private data. But it also creates multiple places where things can go wrong.\n\nThe retriever might miss the correct document. The retriever might return irrelevant chunks. The right chunk might be retrieved but buried under noisy context. The prompt might be too loose. The model might ignore the context. Or the final answer might include facts that were never present in the documents.\n\nAnd here’s the dangerous part: the answer may still sound convincing.\n\nThat’s why evaluating only by reading a few outputs is not enough. You need a repeatable QA harness.\n\nSo what should that harness do?\n\nAt minimum, it should capture the user question, the retrieved context, the final answer, the expected answer, and any source metadata. Then it should run evaluation metrics that tell you whether the system is relevant, faithful, and grounded.\n\nLangChain is useful for building the pipeline. For example, you can use document loaders, a recursive text splitter, OpenAI embeddings, Chroma or another vector store, a retriever, a prompt template, and a chat model. The important implementation detail is this: your RAG function should return more than just the answer.\n\nA lot of teams write a function like `ask(question)` and return a string. That is not enough for evaluation. Instead, return something like: question, answer, retrieved_context, and sources.\n\nWhy? Because when the system fails, you need to know whether retrieval failed or generation failed.\n\nIf the correct context was never retrieved, your prompt is not the main problem. You may need better chunking, metadata filters, hybrid search, query rewriting, or reranking.\n\nIf the correct context was retrieved but the answer is wrong, then you probably need to fix the prompt, model settings, output format, or model choice.\n\nNow let’s bring in DeepEval.\n\nDeepEval is an evaluation framework for LLM applications. It includes metrics that are especially helpful for RAG systems.\n\nFirst: answer relevancy. This checks whether the generated answer actually responds to the question.\n\nSecond: faithfulness. This checks whether the answer is supported by the retrieved context. If the context says employees get 15 vacation days, but the answer says 20, that should fail.\n\nThird: contextual precision. This evaluates how relevant the retrieved chunks are. If you retrieve four chunks and three are noise, precision is low.\n\nFourth: contextual recall. This asks whether the retrieved context contained the information needed to answer the question.\n\nFifth: hallucination. This flags claims that are not grounded in the provided context.\n\nHere’s the workflow I recommend.\n\nStep one: create a golden dataset. Start with 30 to 50 real questions. For each question, include the expected answer and, if possible, the expected source document or key facts. Include easy cases, hard cases, ambiguous questions, and questions where the answer is not in the documents.\n\nStep two: instrument your LangChain pipeline. Make sure every test run stores the retrieved chunks and final answer.\n\nStep three: create DeepEval test cases. For each question, run your RAG pipeline and pass the input, actual output, expected output, and retrieval context into DeepEval.\n\nStep four: set thresholds. For example, you might require answer relevancy and faithfulness to be above 0.75. For hallucination, you might require the score to stay below a certain level. These thresholds depend on the risk of your application.\n\nStep five: run the evaluation continuously. Put a small smoke test suite in CI for every pull request. Run a larger suite nightly. And periodically replay anonymized production questions so your test set reflects real user behavior.\n\nOne thing I want to emphasize: do not treat the evaluator score as absolute truth. LLM-based evaluation is very useful, but it is not perfect. Use it to catch regressions, compare experiments, and prioritize human review.\n\nAlso combine LLM evaluation with deterministic checks. If your policy assistant must say “I don’t know based on the provided documents” when information is missing, write a simple assertion for that. If answers must include citations, test that too.\n\nSo what does success look like?\n\nSuccess is not “our chatbot usually seems good.” Success is being able to say: this prompt change improved faithfulness by 8%, did not reduce contextual recall, and passed all negative test cases. That is the difference between a prototype and an engineered AI system.\n\nTo recap: LangChain helps you build the RAG pipeline. DeepEval helps you evaluate it. Your QA harness should include golden test cases, captured retrieval context, answer quality metrics, retrieval quality metrics, regression thresholds, and a process for analyzing failures.\n\nIf you are building AI agents on top of private knowledge, this is one of the highest-leverage investments you can make.\n\nThanks for watching. If this was helpful, like the video, subscribe for more practical AI engineering content, and let me know in the comments what part of RAG evaluation you want to go deeper on next: chunking experiments, reranking, synthetic test generation, or CI/CD setup. See you in the next one.",
            "devtoArticle": "# Evaluating RAG Pipelines with LangChain and DeepEval\n\nRAG demos are easy. Reliable RAG systems are not.\n\nYou can connect a vector database to an LLM in an afternoon and get impressive answers. But the first time a user asks an ambiguous question, your documents change, or you switch embedding models, quality can shift in ways that are hard to see.\n\nThis post walks through building a practical QA harness for a RAG pipeline using LangChain and DeepEval. The goal is to move from “it looks good in the notebook” to “we can test this system before shipping changes.”\n\nWe will cover:\n\n- What to evaluate in a RAG pipeline\n- How to return retrieval context from LangChain\n- How to define golden test cases\n- How to score the pipeline with DeepEval\n- How to interpret failures\n- How to run evaluations in CI\n\n## The RAG Pipeline We Want to Test\n\nA typical RAG pipeline has these steps:\n\n1. Load documents\n2. Split documents into chunks\n3. Create embeddings\n4. Store vectors\n5. Retrieve relevant chunks for a question\n6. Put those chunks into a prompt\n7. Generate an answer\n\nEach step can fail.\n\nIf retrieval fails, the model may never see the correct information. If retrieval returns noisy context, the answer may drift. If the prompt is too permissive, the model may hallucinate. If your chunk size is wrong, relevant facts may be split across chunks.\n\nThat is why evaluating only the final answer is not enough. You should also evaluate the retrieved context.\n\n## Install Dependencies\n\n```bash\npip install langchain langchain-openai langchain-community langchain-text-splitters chromadb deepeval python-dotenv\n```\n\nCreate `.env`:\n\n```bash\nOPENAI_API_KEY=your_key_here\n```\n\nProject layout:\n\n```text\nrag-eval-demo/\n  data/\n    handbook.md\n    api_docs.md\n  app/\n    ingest.py\n    rag.py\n    eval.py\n  tests/\n    cases.json\n```\n\n## Index Documents with LangChain\n\n```python\n# app/ingest.py\nfrom langchain_community.document_loaders import DirectoryLoader, TextLoader\nfrom langchain_text_splitters import RecursiveCharacterTextSplitter\nfrom langchain_openai import OpenAIEmbeddings\nfrom langchain_community.vectorstores import Chroma\n\nloader = DirectoryLoader(\"data\", glob=\"**/*.md\", loader_cls=TextLoader)\ndocs = loader.load()\n\nsplitter = RecursiveCharacterTextSplitter(\n    chunk_size=800,\n    chunk_overlap=120\n)\nchunks = splitter.split_documents(docs)\n\nembeddings = OpenAIEmbeddings(model=\"text-embedding-3-small\")\n\nChroma.from_documents(\n    documents=chunks,\n    embedding=embeddings,\n    persist_directory=\"chroma_db\"\n)\n\nprint(f\"Indexed {len(chunks)} chunks\")\n```\n\nChunking is one of the first things you will experiment with. Smaller chunks can improve precision but lose context. Larger chunks can improve recall but add noise. Your evaluation harness will help you compare those tradeoffs.\n\n## Build a RAG Function That Is Evaluation-Friendly\n\nDo not return only a string. Return the answer and the retrieved context.\n\n```python\n# app/rag.py\nfrom dotenv import load_dotenv\nfrom langchain_openai import ChatOpenAI, OpenAIEmbeddings\nfrom langchain_community.vectorstores import Chroma\nfrom langchain_core.prompts import ChatPromptTemplate\nfrom langchain_core.output_parsers import StrOutputParser\n\nload_dotenv()\n\nembeddings = OpenAIEmbeddings(model=\"text-embedding-3-small\")\nvectorstore = Chroma(\n    persist_directory=\"chroma_db\",\n    embedding_function=embeddings\n)\nretriever = vectorstore.as_retriever(search_kwargs={\"k\": 4})\n\nllm = ChatOpenAI(model=\"gpt-4o-mini\", temperature=0)\n\nprompt = ChatPromptTemplate.from_messages([\n    (\"system\", \"\"\"\nYou are a careful assistant. Use only the context below.\nIf the answer is not in the context, say you do not know based on the provided documents.\n\nContext:\n{context}\n\"\"\"),\n    (\"human\", \"{question}\")\n])\n\n\ndef format_docs(docs):\n    return \"\\n\\n\".join(doc.page_content for doc in docs)\n\n\ndef ask(question: str) -> dict:\n    docs = retriever.invoke(question)\n    context = format_docs(docs)\n    chain = prompt | llm | StrOutputParser()\n    answer = chain.invoke({\"question\": question, \"context\": context})\n\n    return {\n        \"question\": question,\n        \"answer\": answer,\n        \"retrieved_context\": [doc.page_content for doc in docs],\n        \"sources\": [doc.metadata for doc in docs]\n    }\n```\n\nThis one design choice makes debugging much easier. If an answer is wrong, you can inspect whether the right chunks were retrieved.\n\n## Create Golden Test Cases\n\nA golden dataset is a curated list of questions and expected answers.\n\n```json\n[\n  {\n    \"question\": \"How many vacation days do full-time employees get after one year?\",\n    \"expected_answer\": \"Full-time employees receive 15 paid vacation days after one year.\"\n  },\n  {\n    \"question\": \"What auth mechanism does the Orders API use?\",\n    \"expected_answer\": \"The Orders API uses OAuth 2.0 bearer tokens.\"\n  },\n  {\n    \"question\": \"Can contractors expense standing desks?\",\n    \"expected_answer\": \"I don't know based on the provided documents.\"\n  }\n]\n```\n\nGood test sets include:\n\n- Common production questions\n- Questions with exact factual answers\n- Questions requiring multiple chunks\n- Questions that should produce “I don’t know”\n- Questions involving recently changed docs\n- Ambiguous or adversarial phrasing\n\nStart small. A high-quality set of 40 examples can catch many regressions.\n\n## Evaluate with DeepEval\n\nDeepEval lets you define test cases and run metrics designed for LLM outputs.\n\n```python\n# app/eval.py\nimport json\nfrom deepeval import evaluate\nfrom deepeval.test_case import LLMTestCase\nfrom deepeval.metrics import (\n    AnswerRelevancyMetric,\n    FaithfulnessMetric,\n    ContextualPrecisionMetric,\n    ContextualRecallMetric,\n    HallucinationMetric,\n)\nfrom app.rag import ask\n\n\ndef load_cases():\n    with open(\"tests/cases.json\") as f:\n        return json.load(f)\n\n\ndef to_test_case(case):\n    result = ask(case[\"question\"])\n    return LLMTestCase(\n        input=case[\"question\"],\n        actual_output=result[\"answer\"],\n        expected_output=case[\"expected_answer\"],\n        retrieval_context=result[\"retrieved_context\"],\n        context=result[\"retrieved_context\"]\n    )\n\nmetrics = [\n    AnswerRelevancyMetric(threshold=0.75),\n    FaithfulnessMetric(threshold=0.75),\n    ContextualPrecisionMetric(threshold=0.70),\n    ContextualRecallMetric(threshold=0.70),\n    HallucinationMetric(threshold=0.25),\n]\n\nif __name__ == \"__main__\":\n    cases = load_cases()\n    test_cases = [to_test_case(case) for case in cases]\n    evaluate(test_cases=test_cases, metrics=metrics)\n```\n\nRun it:\n\n```bash\npython app/ingest.py\npython app/eval.py\n```\n\n## What the Metrics Tell You\n\n### Answer Relevancy\n\nDoes the answer address the question? If the question asks about vacation days and the answer explains sick leave, relevancy should fail.\n\n### Faithfulness\n\nIs the answer supported by retrieved context? This is critical. A faithful answer should not invent policies, numbers, dates, API fields, or requirements.\n\n### Contextual Precision\n\nWere the retrieved chunks relevant? Low precision means your prompt is being filled with noise.\n\nWays to improve precision:\n\n- Reduce `k`\n- Use metadata filters\n- Use hybrid keyword plus vector search\n- Add a reranker\n- Improve chunk boundaries\n\n### Contextual Recall\n\nDid the retriever find enough information to answer? Low recall usually means the answer exists somewhere but was not retrieved.\n\nWays to improve recall:\n\n- Increase `k`\n- Improve query rewriting\n- Increase chunk size\n- Add parent-document retrieval\n- Use better embeddings\n- Add domain-specific metadata\n\n### Hallucination\n\nDid the answer contain unsupported claims? If this fails, consider stricter prompts, lower temperature, citations, or a post-generation verifier.\n\n## Add Deterministic Assertions\n\nLLM metrics are useful, but not every check needs an LLM.\n\n```python\ndef must_refuse_when_unknown(answer: str) -> bool:\n    return \"don't know\" in answer.lower() or \"provided documents\" in answer.lower()\n\n\ndef must_include_citation(answer: str) -> bool:\n    return \"source\" in answer.lower() or \"[\" in answer\n```\n\nUse deterministic checks for hard requirements:\n\n- Must include a citation\n- Must not answer out-of-scope questions\n- Must return valid JSON\n- Must include required fields\n- Must not mention internal prompt text\n\nA strong harness combines semantic scoring with exact assertions.\n\n## Debugging Examples\n\nImagine this result:\n\n- Contextual recall: low\n- Contextual precision: medium\n- Faithfulness: high\n- Answer relevancy: low\n\nThis likely means the model did not receive the right information. Fix retrieval first.\n\nNow imagine:\n\n- Contextual recall: high\n- Contextual precision: high\n- Faithfulness: low\n- Hallucination: high\n\nThe retriever did its job. The generator failed. Fix the prompt, model, or decoding settings.\n\nAnother case:\n\n- Contextual precision: low\n- Contextual recall: high\n- Answer is long and confused\n\nYou retrieved the right chunk, but also too much irrelevant context. Add reranking or reduce `k`.\n\n## CI Integration\n\nAdd a small suite to CI so pull requests cannot silently degrade quality.\n\n```yaml\nname: rag-eval\n\non: [pull_request]\n\njobs:\n  eval:\n    runs-on: ubuntu-latest\n    steps:\n      - uses: actions/checkout@v4\n      - uses: actions/setup-python@v5\n        with:\n          python-version: '3.11'\n      - run: pip install -r requirements.txt\n      - run: python app/ingest.py\n      - run: python app/eval.py\n        env:\n          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}\n```\n\nFor cost and speed, split your tests:\n\n- PR suite: 10 to 25 critical examples\n- Nightly suite: full golden dataset\n- Weekly suite: sampled production queries\n\n## Best Practices\n\n1. **Version your prompts**  \n   Store prompt templates in code and review changes like application logic.\n\n2. **Version your test data**  \n   Test cases are product requirements. Treat them that way.\n\n3. **Evaluate retrieval and generation separately**  \n   Final answer scores are not enough for root cause analysis.\n\n4. **Include negative cases**  \n   A good RAG system should refuse when the answer is not present.\n\n5. **Track experiments**  \n   Compare chunk sizes, embedding models, rerankers, and `k` values with the same test set.\n\n6. **Use human review periodically**  \n   LLM-as-judge is helpful, but evaluator drift and false positives happen.\n\n7. **Monitor production**  \n   Add user feedback, thumbs up/down, and sampled human review to catch gaps your test set misses.\n\n## Final Thoughts\n\nRAG evaluation is not a one-time benchmark. It is an ongoing engineering practice.\n\nLangChain gives you the building blocks for the pipeline. DeepEval gives you the tools to measure behavior. The key is to connect them with a harness that captures inputs, retrieved context, outputs, and scores.\n\nOnce you have that, you can make changes with confidence. You can test a new embedding model, tune chunk sizes, add reranking, or change prompts and know whether you improved the system or broke it.\n\nIf your RAG app matters, build the QA harness before users find the failures for you."
          }
        },
        "pairedItem": {
          "item": 3
        }
      }
    ]
  },
  "connections": {
    "Daily at 9 AM": {
      "main": [
        [
          {
            "node": "Agent 1 - Topic Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 1 - Topic Generator": {
      "main": [
        [
          {
            "node": "Prepare Today Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Today Date": {
      "main": [
        [
          {
            "node": "Write Topic to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Topic to Sheet": {
      "main": [
        [
          {
            "node": "Read Today Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Today Topic": {
      "main": [
        [
          {
            "node": "Agent 2 - Content Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 2 - Content Writer": {
      "main": [
        [
          {
            "node": "Agent 3 - Image Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Structure Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agent 2 - Content Writer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Agent 3 - Image Generator": {
      "main": [
        [
          {
            "node": "Upload Images to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Content for Update": {
      "main": [
        [
          {
            "node": "Agent 4 - Sheet Updater",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 1 - Topic Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Upload Images to Drive": {
      "main": [
        [
          {
            "node": "Share Image File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share Image File": {
      "main": [
        [
          {
            "node": "Prepare Image Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Link": {
      "main": [
        [
          {
            "node": "Format Content for Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 2 - Content Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "85abc912-484b-4f8a-afa7-6c5670890308",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8005f0069f1cf5df4dc00f46deab8c0ac930550c19a54f961b19bfd4aafa7bab"
  },
  "nodeGroups": [],
  "id": "SrwgoM6fZVWdG4SD",
  "tags": []
}